## Arreglos dataframe de Municipios + unión con CIIU Rev. 4

In [34]:
import pandas as pd
import string
from string import Formatter
from string import Template
import re
import missingno as msno

In [24]:
ciiuinfo=pd.read_excel("Estructura-detallada-CIIU-4AC-2020-.xls")
ciiuinfo["Clase"]=ciiuinfo["Clase"].astype("str")
ciiuinfo.head()

  Clase                                        Descripción
0     C                          INDUSTRIAS MANUFACTURERAS
1    11                             Elaboración de bebidas
2  1100                             Elaboración de bebidas
3  1101  Destilación, rectificación y mezcla de bebidas...
4  1102   Elaboración de bebidas fermentadas no destiladas

In [35]:
Municipios = pd.read_csv('Municipios.csv', low_memory=False)
Mun=Municipios.copy()
Mun['CODIGO_CIIU'].unique()

array([5612., 5619., 4711., 4632., 5621., 5611., 4724., 5630., 1102.,
       5629., 5613., 1101., 4781., 1200., 4719., 5310., 4731., 5530.,
       9200., 4773., 6910., 8230., 1011.,  162., 9329., 3511., 9511.,
        128., 7310., 6120., 2012.,  115., 4771., 4631., 9609., 4741.,
       1104., 4729.,   nan, 4520., 1020., 4759., 9311., 6190., 4721.,
       1051., 1103., 1081., 4722., 1040., 1089., 4723., 9312., 1063.,
       5320., 4541., 3530., 5514., 5221.,  144., 8299., 5519., 4530.,
       7120., 5511., 4661., 4775., 2011., 7730., 4774.,  124., 4511.,
       4921., 1921.,  141., 5512., 4761., 6810., 4732., 8130., 8219.,
       6511.,  145., 9529., 1922., 4754.,  161.,  111.,  112., 6820.,
       1090., 1012., 3512., 3513., 3514., 7710., 7912., 6499., 4664.,
       4755., 4791., 4923., 4789., 4662., 4669., 1811., 4321., 8621.,
        113., 7729., 4799., 1082., 4742., 4290., 3520., 7020., 4663.,
       9521., 6110., 6619., 3290., 4620., 7010., 7830., 6621., 4762.,
       6492., 8530., 5813., 8292., 2512., 7110., 4112., 9602., 4512.,
       2029., 3314., 5590.,  163.,  149.,  322.,  150.,  990., 7500.,
       6512., 4690., 5012., 5222., 2023., 4645., 4752., 4390., 4772.,
       5229., 8692., 4220., 1084., 3312.,  122., 4641., 3600.,  142.,
       4922., 7420., 6399., 9512., 8220., 8551., 1521., 1610., 8523.,
       2013., 3700.,  121.,  126., 4651., 6201., 6209., 6202., 3900.,
        164., 4542.,  130., 2100., 4312., 4659., 8211., 4665., 8129.,
       4111., 8121., 7210., 2022., 5819., 4642., 1410., 1313., 8020.,
       6311., 7410., 9008., 7911., 4751., 2712.,  123., 6614., 6615.,
       8560., 6920., 7990., 5210., 4652., 2410., 2711., 6010., 9499.,
        722., 3821., 9005., 1083., 9319., 3319., 8559., 2021., 6612.,
       4330., 6611., 7490., 4610.,  210., 8553.,  311., 4322.,  143.,
       5122., 6312., 2014., 3210., 9004.,  312., 6613., 8890., 3830.,
       3311., 2660., 8699., 1702., 4769., 1812., 3811., 2511., 2920.,
       3320., 7810., 1030.,  127.])

In [26]:
#Mun["CODIGO_CIIU"] = Mun["CODIGO_CIIU"].astype("str").str.replace(r'\D', '')

In [4]:
#bd2=pd.merge(Mun,ciiuinfo,how="left",left_on="CODIGO_CIIU",right_on="Clase")

In [36]:
bd3=Mun.dropna(subset=["CODIGO_CIIU"])
bd3=Mun.dropna(how="all",axis=1)
bd3=bd3.reset_index()
#msno.matrix(bd3)

In [37]:
#bd3[['DescripCod','Descripción']]

bd3['CODIGO_CIIU'].unique()

array([5612., 5619., 4711., 4632., 5621., 5611., 4724., 5630., 1102.,
       5629., 5613., 1101., 4781., 1200., 4719., 5310., 4731., 5530.,
       9200., 4773., 6910., 8230., 1011.,  162., 9329., 3511., 9511.,
        128., 7310., 6120., 2012.,  115., 4771., 4631., 9609., 4741.,
       1104., 4729.,   nan, 4520., 1020., 4759., 9311., 6190., 4721.,
       1051., 1103., 1081., 4722., 1040., 1089., 4723., 9312., 1063.,
       5320., 4541., 3530., 5514., 5221.,  144., 8299., 5519., 4530.,
       7120., 5511., 4661., 4775., 2011., 7730., 4774.,  124., 4511.,
       4921., 1921.,  141., 5512., 4761., 6810., 4732., 8130., 8219.,
       6511.,  145., 9529., 1922., 4754.,  161.,  111.,  112., 6820.,
       1090., 1012., 3512., 3513., 3514., 7710., 7912., 6499., 4664.,
       4755., 4791., 4923., 4789., 4662., 4669., 1811., 4321., 8621.,
        113., 7729., 4799., 1082., 4742., 4290., 3520., 7020., 4663.,
       9521., 6110., 6619., 3290., 4620., 7010., 7830., 6621., 4762.,
       6492., 8530., 5813., 8292., 2512., 7110., 4112., 9602., 4512.,
       2029., 3314., 5590.,  163.,  149.,  322.,  150.,  990., 7500.,
       6512., 4690., 5012., 5222., 2023., 4645., 4752., 4390., 4772.,
       5229., 8692., 4220., 1084., 3312.,  122., 4641., 3600.,  142.,
       4922., 7420., 6399., 9512., 8220., 8551., 1521., 1610., 8523.,
       2013., 3700.,  121.,  126., 4651., 6201., 6209., 6202., 3900.,
        164., 4542.,  130., 2100., 4312., 4659., 8211., 4665., 8129.,
       4111., 8121., 7210., 2022., 5819., 4642., 1410., 1313., 8020.,
       6311., 7410., 9008., 7911., 4751., 2712.,  123., 6614., 6615.,
       8560., 6920., 7990., 5210., 4652., 2410., 2711., 6010., 9499.,
        722., 3821., 9005., 1083., 9319., 3319., 8559., 2021., 6612.,
       4330., 6611., 7490., 4610.,  210., 8553.,  311., 4322.,  143.,
       5122., 6312., 2014., 3210., 9004.,  312., 6613., 8890., 3830.,
       3311., 2660., 8699., 1702., 4769., 1812., 3811., 2511., 2920.,
       3320., 7810., 1030.,  127.])

In [38]:
bd3['ULT_REN'].unique()

array([2019., 1985., 2015., 1984., 1983., 2020., 2018., 2017., 2011.,
       2016., 2014., 2013., 2012., 1980., 2010., 2009., 2008., 2007.,
       1981., 2006., 2005., 2004., 2003., 2002., 2001., 1999., 1998.,
       1997., 1995., 1974., 1994., 1993., 1992., 1973., 1991., 1972.,
       1989., 1988., 1987., 1986.,   nan])

In [39]:
Deporte=[5510, 5512, 5530, 5590]
Lot=[9200]
Licor=[1100, 1101, 1102, 1103, 
       4630, 4631, 4632, 4710, 4711, 4720, 4724, 
       1200, 5610, 5611, 5612, 5619, 5620, 5621, 5629, 5630]


D_dep=bd3[bd3['CODIGO_CIIU'].isin(Deporte)]   # 4 registros
D_lot=bd3[bd3['CODIGO_CIIU'].isin(Lot)]      
D_lic=bd3[bd3['CODIGO_CIIU'].isin(Licor)]

In [40]:
bd3.loc[bd3['CODIGO_CIIU'].isin(Deporte), 'Actividad_Economica'] = 'Deporte'
bd3.loc[bd3['CODIGO_CIIU'].isin(Licor), 'Actividad_Economica'] = 'Licor'
bd3.loc[bd3['CODIGO_CIIU'].isin(Lot), 'Actividad_Economica'] = 'Loterias'

In [41]:
bd3

,index,MATRICULA,PROPONENTE,ORGANIZACION,CATEGORIA,EST-MATRICULA,EST_DATOS,FECHA-NAC,CLASE-ID,IDENTIFICACION,...,ESTBLCOMERCIALES,IND_ENVMSJCEL,IND_ENVMSJEMAIL,IND_BENEFICIO1780,IND_BENEFICIO1780MAT,IND_RENUNCIABEN1780,ESTADO_AFILIADO,FECHA_AFILIACION,FECHA_FIN_AFILIACION,Actividad_Economica
0,0,S0000369,NaN,12.0,1.0,IA,6.0,NaN,2.0,3b(tthb&(h,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Licor
1,1,9428,NaN,2.0,0.0,MI,8.0,NaN,7.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Licor
2,2,9303,NaN,1.0,0.0,MI,6.0,NaN,1.0,h:&r#e3&,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Licor
3,3,9239,NaN,3.0,1.0,MI,8.0,NaN,2.0,t,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Licor
4,4,9237,NaN,3.0,1.0,MI,8.0,NaN,2.0,t,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Licor
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11097,11097,NaN,NaN,NaN,PERSONA JURIDICA,NaN,NaN,NaN,NaN,NaN,...,0.0,N,S,N,N,N,No afiliado,NaN,NaN,NaN
11098,11098,NaN,NaN,NaN,PERSONA JURIDICA,NaN,NaN,NaN,NaN,NaN,...,0.0,N,S,N,N,N,No afiliado,NaN,NaN,NaN
11099,11099,NaN,NaN,NaN,PERSONA NATURAL,NaN,NaN,NaN,NaN,NaN,...,1.0,N,S,S,S,N,No afiliado,NaN,NaN,NaN
11100,11100,NaN,NaN,NaN,PERSONA NATURAL,NaN,NaN,NaN,NaN,NaN,...,1.0,N,S,S,S,N,No afiliado,NaN,NaN,NaN
11101,11101,NaN,NaN,NaN,PERSONA NATURAL,NaN,NaN,NaN,NaN,NaN,...,0.0,N,S,N,N,N,No afiliado,NaN,NaN,Loterias

In [42]:
len(bd3[bd3['Actividad_Economica'] == 'Loterias'])

592

In [43]:
len(bd3[bd3['Actividad_Economica'] == 'Licor'])

6410

In [44]:
len(bd3[bd3['Actividad_Economica'] == 'Deporte'])

520

In [45]:
len(bd3)

11102

In [46]:
bd3['MUNICIPIO_Clean'].unique()

array(['Buenaventura', 'None', 'Cartago', 'El aguila', 'La union',
       'La victoria', 'El dovio', 'Alcala', 'Ulloa', 'San jose de palmar',
       'Ansermanuevo', 'Roldanillo', 'Versalles', 'Obando', 'El cairo',
       'Argelia', 'Toro', 'Calima', 'Buga', 'Restrepo', 'El cerrito',
       'Ginebra', 'Yotoco', 'San pedro', 'Guacari', 'Palmira',
       'Candelaria', 'Florida', 'Pradera', 'Sevilla', 'Caicedonia',
       'Zarzal', 'Tulua', 'Andalucia', 'Riofrio', 'Bugalagrande',
       'Bolivar', 'Trujillo', 'Cali', 'Yumbo', 'Jamundi', 'Dagua',
       'La Cumbre', 'Vijes'], dtype=object)

In [47]:
bd4 = pd.concat([D_dep, D_lot, D_lic])
len(bd4)

7522

In [48]:
#bd3[["COD_MUNICIPIO","MUNICIPIO_Clean"]]=bd3["MUNICIPIO"].str.split(pat="-",expand=True)
#bd3["MUNICIPIO"]=bd3["MUNICIPIO_Clean"].str.strip()
print('Nulls', len(bd3['Actividad_Economica'].isna()), 'NotNulls', len(bd3['Actividad_Economica'].notna()))

Nulls 11102 NotNulls 11102

In [49]:
len(bd3['Actividad_Economica'].isin(["Deporte", "Licor", "Loterias"]))

11102

In [50]:
bd4.to_csv('Municipios_Consolidado.csv', index=False)

In [51]:
MunicipiosC = pd.read_csv('Municipios_Consolidado.csv', low_memory=False)
MunicipiosC['MUNICIPIO_Clean'].unique()

array(['El cairo', 'Cartago', 'Ansermanuevo', 'Roldanillo', 'El dovio',
       'La union', 'Sevilla', 'Caicedonia', 'Cali', 'Yumbo', 'Jamundi',
       'La Cumbre', 'Dagua', 'Toro', 'Alcala', 'La victoria', 'Tulua',
       'Vijes', 'Buenaventura', 'None', 'El aguila', 'Ulloa',
       'San jose de palmar', 'Versalles', 'Obando', 'Argelia', 'Calima',
       'Buga', 'El cerrito', 'Ginebra', 'San pedro', 'Restrepo',
       'Guacari', 'Yotoco', 'Palmira', 'Candelaria', 'Florida', 'Pradera',
       'Zarzal', 'Andalucia', 'Riofrio', 'Bugalagrande', 'Bolivar',
       'Trujillo'], dtype=object)

In [52]:
MunicipiosC['ULT_REN'].unique()

array([2020., 2019.,   nan, 2018., 1985., 2015., 1984., 1983., 2017.,
       2011., 2016., 2014., 2013., 2012., 1980., 2010., 2009., 2008.,
       2007., 1981., 2005., 2006., 2004., 2003., 2002., 2001., 1999.,
       1998., 1997., 1995., 1974., 1994., 1993., 1992., 1973., 1972.,
       1989., 1988., 1987., 1986.])

In [53]:
MunicipiosC.loc[MunicipiosC['CODIGO_CIIU'].isin(Deporte), 'Actividad_Economica'] = 'Deporte'
MunicipiosC.loc[MunicipiosC['CODIGO_CIIU'].isin(Licor), 'Actividad_Economica'] = 'Licor'
MunicipiosC.loc[MunicipiosC['CODIGO_CIIU'].isin(Lot), 'Actividad_Economica'] = 'Loterias'
MunicipiosC

,index,MATRICULA,PROPONENTE,ORGANIZACION,CATEGORIA,EST-MATRICULA,EST_DATOS,FECHA-NAC,CLASE-ID,IDENTIFICACION,...,ESTBLCOMERCIALES,IND_ENVMSJCEL,IND_ENVMSJEMAIL,IND_BENEFICIO1780,IND_BENEFICIO1780MAT,IND_RENUNCIABEN1780,ESTADO_AFILIADO,FECHA_AFILIACION,FECHA_FIN_AFILIACION,Actividad_Economica
0,5361,98986,NaN,NaN,NaN,MA,NaN,NaN,1.0,hhh#et&&#&,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Deporte
1,5365,98421,NaN,NaN,NaN,MA,NaN,NaN,1.0,hterbe3#t(,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Deporte
2,5367,98324,NaN,NaN,NaN,MA,NaN,NaN,1.0,htt&:er#rh,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Deporte
3,5368,98199,NaN,NaN,NaN,MA,NaN,NaN,1.0,#&:33t&,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Deporte
4,5380,97399,NaN,NaN,NaN,MA,NaN,NaN,1.0,h:((#t:&,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Deporte
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7517,11055,NaN,NaN,NaN,PERSONA JURIDICA,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,S,N,N,N,No afiliado,NaN,NaN,Licor
7518,11071,NaN,NaN,NaN,PERSONA NATURAL,NaN,NaN,NaN,NaN,NaN,...,1.0,N,S,N,N,N,No afiliado,NaN,NaN,Licor
7519,11074,NaN,NaN,NaN,PERSONA NATURAL,NaN,NaN,NaN,NaN,NaN,...,0.0,N,S,N,N,N,No afiliado,NaN,NaN,Licor
7520,11076,NaN,NaN,NaN,PERSONA NATURAL,NaN,NaN,NaN,NaN,NaN,...,0.0,N,S,N,N,N,No afiliado,NaN,NaN,Licor
7521,11095,NaN,NaN,NaN,PERSONA JURIDICA,NaN,NaN,NaN,NaN,NaN,...,0.0,N,S,N,N,N,No afiliado,NaN,NaN,Licor

In [54]:
bd3['MUNICIPIO_Clean'].unique()

array(['Buenaventura', 'None', 'Cartago', 'El aguila', 'La union',
       'La victoria', 'El dovio', 'Alcala', 'Ulloa', 'San jose de palmar',
       'Ansermanuevo', 'Roldanillo', 'Versalles', 'Obando', 'El cairo',
       'Argelia', 'Toro', 'Calima', 'Buga', 'Restrepo', 'El cerrito',
       'Ginebra', 'Yotoco', 'San pedro', 'Guacari', 'Palmira',
       'Candelaria', 'Florida', 'Pradera', 'Sevilla', 'Caicedonia',
       'Zarzal', 'Tulua', 'Andalucia', 'Riofrio', 'Bugalagrande',
       'Bolivar', 'Trujillo', 'Cali', 'Yumbo', 'Jamundi', 'Dagua',
       'La Cumbre', 'Vijes'], dtype=object)

In [57]:
MunicipiosC = MunicipiosC[~MunicipiosC['ULT_REN'].isin([2011., 2016., 2014., 2013., 2012., 1980., 2010., 2009., 2008.,
       2007., 1981., 2005., 2006., 2004., 2003., 2002., 2001., 1999.,
       1998., 1997., 1995., 1974., 1994., 1993., 1992., 1973., 1972.,
       1989., 1988., 1987., 1986., 1985, 1984., 1983., 2015])]

In [58]:
MunicipiosC['ULT_REN'].unique()

array([2020., 2019.,   nan, 2018., 2017.])

In [59]:
MunicipiosC.to_csv('Municipios_Consolidado.csv', index=False)

In [60]:
#MunicipiosC = pd.read_csv('Municipios_Consolidado.csv', low_memory=False)
MunicipiosC['MUNICIPIO_Clean'].unique()

array(['El cairo', 'Cartago', 'Ansermanuevo', 'Roldanillo', 'El dovio',
       'La union', 'Sevilla', 'Caicedonia', 'Cali', 'Yumbo', 'Jamundi',
       'La Cumbre', 'Dagua', 'Toro', 'Alcala', 'La victoria', 'Tulua',
       'Vijes', 'Buenaventura', 'El aguila', 'Ulloa',
       'San jose de palmar', 'Versalles', 'Obando', 'Argelia', 'Calima',
       'Buga', 'El cerrito', 'Ginebra', 'San pedro', 'Restrepo',
       'Guacari', 'Yotoco', 'Palmira', 'Candelaria', 'Florida', 'Pradera',
       'Zarzal', 'Andalucia', 'Riofrio', 'Bugalagrande', 'Bolivar',
       'Trujillo'], dtype=object)