<h1><center>EDA</center></h1>

In [5]:
#Cargamos Librerias
import pandas as pd
#import missingno as msno
#Revisaremos todas las tablas a fin de buscar similitudes entre ellas que permitan agruparlas
#We will review all the tables in order to look for similarities between them that allow to group them

<h2>1. Municipio Buenaventura</h2>
<h3>1.1 Distribución de Valores Faltantes</h3>

<h2>1. Municipality of Buenaventura</h2>
<h3>1.1 Distribution of Missing Values</h3>

In [39]:
#data set reading
df_c_c_btura_A_M = pd.read_excel(r"c.c. btura A M.xls")
#msno.matrix(df_c_c_btura_A_M)

<h3>1.2 Eliminación de Datos NAN</h3>

<h3>1.2 Removal of NAN Data</h3>

In [ ]:
df_Buenaventura = df_c_c_btura_A_M.dropna(how="all",axis=1)

print(df_BuenaVentura.columns, len(df_Buenaventura.columns))

<h3>1.3 DataFrame Columns</h3>

In [ ]:

#Filter and rename common attributes between municipality tables
df_Buenaventura = df_Buenaventura.\
    rename(columns={'ULT-ANO_REN': 'ULT-REN', 'DIR-COMERCIAL': 'DIRECCION',  'BARRIO-COMERCIAL': 'BARRIO'})

In [57]:
df_Buenaventura[['ULT-REN', 'MATRICULA', 'NIT', 'CIIU-1', 'DIRECCION', 'BARRIO', 'VLR-ESTABLEC.']].head()

,ULT-REN,MATRICULA,NIT,CIIU-1,DIRECCION,BARRIO,VLR-ESTABLEC.
0,2019,S0000369,3b(tt1b&(1,I5612 ** Expendio por autoservicio de comidas preparadas,CLL 6 NO. 66 B-26,00176 - BARRIO BOLIVAR,0
1,1985,9428,,I5619 ** Otros tipos de expendio de comidas preparadas n.c.p.,CRA 19 # 3A-22,NaN,1500000
2,2015,9303,1:&r#e3&(,G4711 ** Comercio al por menor en establecimientos no especializados con surtido compuesto principalmente por alimentos bebidas o tabaco,CR 56 A 4 43 BRR GRANCOLOMBIANA,00053 - CALLE LOS BALSOS,0
3,1985,9239,t,G4632 ** Comercio al por mayor de bebidas y tabaco,CARRET.S.B/VAR. K 12 VIA CALI,00174 - NO CODIFICADA,200000
4,1985,9237,t,G4632 ** Comercio al por mayor de bebidas y tabaco,CARRETERA SIM.BOLIVAR KM.12,00173 - BARRIO LA CAMPIÑA,260000

<h2>2. Municipio Cartago</h2>
<h3>2.1 Distribución de Valores Faltantes</h3>

<h2>2. Municipality of Cartago</h2>
<h3>2.1 Distribution of Missing Values</h3>

In [45]:
#data set reading
df_CARTAGOAM = pd.read_excel(r"CARTAGO A M.xlsx")
#msno.matrix(df_CARTAGOAM)

<h3>2.2 Eminación de Datos NAN</h3>

<h3>2.2 Removal of NAN Data</h3>

In [46]:
df_Cartago = df_CARTAGOAM.dropna(how="all",axis=1)
#msno.matrix(df_CARTAGO)

<h3>2.3 Columnas del DataFrame</h3>

<h3>2.3 DataFrame Columns</h3>

In [ ]:
print(df_Cartago .columns)
print("Columnas:",len(df_Cartago .columns))
df_Cartago .head()

#Filter and rename common attributes between municipality tables
df_Cartago [['ULT-ANO_REN', 'MATRICULA', 'NIT-PROP.', 'CIIU-1', 'DIR-COMERCIAL', 'BARRIO-COMERCIAL']].head()

df_Cartago  = df_Cartago .\
    rename(columns={'ULT-ANO_REN': 'ULT-REN','NIT-PROP.':'NIT', 'DIR-COMERCIAL': 'DIRECCION',  'BARRIO-COMERCIAL': 'BARRIO'})

df_Cartago['MUNICIPIO'] = 'Cartago'

In [56]:
df_Cartago[['ULT-REN', 'MATRICULA', 'NIT', 'CIIU-1', 'DIRECCION', 'BARRIO', 'VLR-ESTABLEC.']].head()

,ULT-REN,MATRICULA,NIT,CIIU-1,DIRECCION,BARRIO,VLR-ESTABLEC.
0,2020,99057,hhh#r3r(tt:,G4724 ** Comercio al por menor de bebidas y productos del tabaco en establecimientos especializados,CR 2 NRO 39-20,00057 - BARRIO EL JAZMIN\t\t\t,4000000
1,2020,99003,:rtbt&b:,I5630 ** Expendio de bebidas alcoholicas para el consumo dentro del establecimiento,CR 7 NRO 14-05,00048 - BARRIO EL CARMEN\t\t\t,4000000
2,2020,98999,e&#:#(rhh,I5630 ** Expendio de bebidas alcoholicas para el consumo dentro del establecimiento,CORR LA MARIA,NaN,1000000
3,2020,98980,hhh#re#e(3(,I5630 ** Expendio de bebidas alcoholicas para el consumo dentro del establecimiento,CR 4 NRO 8-159,00026 - BARRIO CAMELLON DEL QUINDIO\t\t,4000000
4,2020,98975,::r(#3bb(,I5630 ** Expendio de bebidas alcoholicas para el consumo dentro del establecimiento,CL 16 NRO 3-101,00003 - BARRIO LAS LAJAS\t\t\t,4000000

<h2>3. Municipio Buga</h2>
<h3>3.1 Distribución de Valores Faltantes</h3>

<h2>3. Municipality of Buga</h2>
<h3>3.1 Distribution of Missing Values</h3>

In [52]:
#data set reading
df_CCBUGAAM = pd.read_excel(r"CC BUGA A M.xlsx")
#msno.matrix(df_CCBUGAAM)

<h3>3.2 Eminación de Datos NAN</h3>

<h3>3.2 Removal of NAN Data</h3>

In [53]:
df_Buga = df_CCBUGAAM.dropna(how="all",axis=1)
#msno.matrix(df_BUGA)

<h3>3.3 DataFrame Columns</h3>

In [ ]:
print(df_Buga.columns)
print("Columnas:",len(df_Buga.columns))
#df_BUGA.head()

#Filter and rename common attributes between municipality tables
df_Buga[['ULT-ANO_REN', 'MATRICULA', 'NIT', 'CIIU-1', 'DIR-COMERCIAL']].head()

df_Buga  = df_Buga .\
    rename(columns={'ULT-ANO_REN': 'ULT-REN','NIT-PROP.':'NIT', 'DIR-COMERCIAL': 'DIRECCION'})
df_Buga['MUNICIPIO'] = 'Buga'

In [58]:
df_Buga[['ULT-REN', 'MATRICULA', 'NIT', 'CIIU-1', 'DIRECCION', 'ACTIVO-TOTAL', 'PATRIMONIO']].head()

,ULT-REN,MATRICULA,NIT,CIIU-1,DIRECCION,ACTIVO-TOTAL,PATRIMONIO
0,2019,11691,#e&bhe(#h,G4724 ** Comercio al por menor de bebidas y productos del tabaco en establecimientos especializados,CL. 11 NRO 6 - 60,6600000,6600000
1,2019,12325,h&33eb(:b,I5630 ** Expendio de bebidas alcoholicas para el consumo dentro del establecimiento,CL.13A NRO.9-30,1350000,1350000
2,2020,12457,#e#rr:&#b,G4719 ** Comercio al por menor en establecimientos no especializados con surtido compuesto principalmente por productos diferentes de alimentos (viveres en general) bebidas y tabaco,CRA 10 22A 31,1600000,1600000
3,2019,12652,b33(3t#:#,I5630 ** Expendio de bebidas alcoholicas para el consumo dentro del establecimiento,CRA 11 NRO 7 52,1250000,1250000
4,2020,12675,h&3r(&trh,I5630 ** Expendio de bebidas alcoholicas para el consumo dentro del establecimiento,CRA. 16 NRO. 15 119,1500000,1500000

<h2>4 Municipio Cali</h2>
<h3>41 Distribución de Valores Faltantes</h3>

<h2>4. Municipality of Cali</h2>
<h3>4.1 Distribution of Missing Values</h3>

In [60]:
#data set reading
df_ccCaliAM = pd.read_excel(r"cc Cali AM.xlsx")
#msno.matrix(df_ccCaliAM)

<h3>4.2 Eminación de Datos NAN</h3>

<h3>4.2 Removal of NAN Data</h3>

In [61]:
df_Cali = df_ccCaliAM.dropna(how="all",axis=1)
#msno.matrix(df_Cali)

<h3>4.3 DataFrame Columns</h3>

In [62]:
#Filter and rename common attributes between municipality tables

print(df_Cali.columns)
print("Columnas:",len(df_Cali.columns))

df_Cali = df_Cali.rename(columns={'NUM_ID': 'NIT', 'CODIGO_CIIU': 'CIIU-1', 'DIRECCION_COMERCIAL': 'DIRECCION'})

Index(['COD_CAMARA', 'NUM_CONSECUTIVO', 'NUM_INSCRITO', 'CODIGO_CIIU',
       'SECUENCIA', 'DESC_CIIU', 'SECTOR', 'DESC_SECTOR', 'TIPO_REGISTRO',
       'COD_TIPO_REGISTRO', 'CATEGORIA', 'NATURALEZA', 'COD_ESTADO', 'ESTADO',
       'FECHA_REN_2016', 'FECHA_REN_2017', 'FECHA_REN_2018', 'FECHA_REN_2019',
       'FECHA_REN_2020', 'NUM_ID', 'DIRECCION_COMERCIAL', 'BARRIO', 'CIUDAD',
       'DEPARTAMENTO', 'DIRECCION_JURIDICO', 'ANO INFO FIN', 'FECHA_REGISTRO',
       'GRUPONIIF', 'ACTIVO_CORRIENTE', 'ACTIVO_NO_CORRIENTE', 'ACTIVOS_FIJOS',
       'ACTIVOS_FIJOS_NETOS', 'OTROS_ACTIVOS', 'VALORIZACIONES', 'TOT_ACTIVOS',
       'PASIVO_CORRIENTE', 'PASIVO_LARGO_PLAZO', 'TOT_PASIVO', 'PATRIMONIO',
       'TOT_PASIVO_PATRIMONIO', 'INGRESOS_OPERACIONALES', 'COSTO_VENTA',
       'UTILILIDAD_BRUTA', 'GTOS_OPERERACION', 'GTOS_OPER_ADMIN',
       'DEPRECNS_AMORTIZACIONES', 'UTILILIDAD_PERDIDA',
       'INGRESOS_NO_OPERACIONALES', 'GASTOS_IMPUESTOS', 'PERSONAL_OCUPADO',
       'PORCENT_EXTRANJERO', 'PORCENT_NAL', 'PORCENT_PAR_MUJERKT',
       'PORCENT_PRIVEXT', 'PORCENT_PRIVNAL', 'PORCENT_PUBEXT',
       'PORCENT_PUBNAL', 'NUMMUJERES', 'NUMTOTALMUJER_CD', 'NUMTOTALMUJERES',
       'ESTBLCOMERCIALES', 'IND_ENVMSJCEL', 'IND_ENVMSJEMAIL',
       'IND_BENEFICIO1780', 'IND_BENEFICIO1780MAT', 'IND_RENUNCIABEN1780',
       'ESTADO_AFILIADO', 'FECHA_AFILIACION', 'FECHA_FIN_AFILIACION',
       'VAL_ULT_CUOTA'],
      dtype='object')
Columnas: 70

In [65]:
df_Cali[['NIT', 'CIIU-1', 'DIRECCION', 'BARRIO', 'TOT_ACTIVOS', 'PATRIMONIO', 'VAL_ULT_CUOTA']].head(10)

,NIT,CIIU-1,DIRECCION,BARRIO,TOT_ACTIVOS,PATRIMONIO,VAL_ULT_CUOTA
0,3etbt:&3h,4731,CL. 10 No. 52 50,Camino Real Los Fundadores,2.924567e+09,2.588190e+09,135000.0
1,3etbt#e33,4731,CL 30 NORTE # 2 B - 42 LC 656 Y 657,Prados Del Norte (N Sn Vic.),1.471171e+10,9.967156e+09,324000.0
2,3etbt#e33,4530,CL 30 NORTE # 2 B - 42 LC 656 Y 657,Prados Del Norte (N Sn Vic.),1.471171e+10,9.967156e+09,324000.0
3,3etbt#e33,7120,CL 30 NORTE # 2 B - 42 LC 656 Y 657,Prados Del Norte (N Sn Vic.),1.471171e+10,9.967156e+09,324000.0
4,3etbt#e33,4520,CL 30 NORTE # 2 B - 42 LC 656 Y 657,Prados Del Norte (N Sn Vic.),1.471171e+10,9.967156e+09,324000.0
5,3etbt&(b:,4520,C 44 1D 51,Manzanares,1.106866e+08,7.405000e+07,135000.0
6,3etbt&(b:,4530,C 44 1D 51,Manzanares,1.106866e+08,7.405000e+07,135000.0
7,3etbt&(b:,4731,C 44 1D 51,Manzanares,1.106866e+08,7.405000e+07,135000.0
8,3etbt&hbt,1011,KR 40 # 12 A - 13,NaN,2.170520e+12,9.052439e+11,NaN
9,3etbt&hbt,4631,KR 40 # 12 A - 13,NaN,2.170520e+12,9.052439e+11,NaN

<h2>5. Municipio Cartago PYG</h2>
<h3>5.1 Distribución de Valores Faltantes</h3>

<h2>5. Municipality of Cartago PYG</h2>
<h3>5.1 Distribution of Missing Values</h3>

In [66]:
#data set reading
df_CCCARTAGOCONPYGAM = pd.read_excel(r"CC CARTAGO CON PYG A M.xlsx")
#msno.matrix(df_CCCARTAGOCONPYGAM)

<h3>5.2 Eminación de Datos NAN</h3>

<h3>5.2 Removal of NAN Data</h3>

In [67]:
df_Cartago_pyg = df_CCCARTAGOCONPYGAM.dropna(how="all",axis=1)
#msno.matrix(df_CARTAGOCONPYG)

<h3>5.3 DataFrame Columns</h3>

In [70]:
#Filter and rename common attributes between municipality tables
print(df_Cartago_pyg .columns, len(df_Cartago_pyg .columns))
df_Cartago_pyg .head()
df_Cartago_pyg = df_Cartago_pyg.\
    rename(columns={'ULT-ANO_REN': 'ULT-REN', 'DIR-COMERCIAL': 'DIRECCION',  'BARRIO-COMERCIAL': 'BARRIO'})

Index(['MATRICULA', 'EST-MATRICULA', 'CLASE-ID', 'IDENTIFICACION', 'NIT',
       'FEC-MATRICULA', 'FEC-RENOVACION', 'ULT-ANO_REN', 'DIR-COMERCIAL',
       'BARRIO-COMERCIAL', 'MUN-COMERCIAL', 'DIR-NOTIFICACION',
       'MUN-NOTIFICACION', 'CIIU-1', 'CIIU-2', 'CIIU-3', 'CIIU-4', 'ACTIVIDAD',
       'PERSONAL', 'ACTIVO-TOTAL', 'ING-OPERACIONES', 'ING-NO-OPERACIONALES',
       'GAS-OPERACIONALES', 'GAS-NO-OPERAC.', 'COS-VEN.', 'GAS-IMP.',
       'UTIL-OPERACIONAL', 'UTIL-NETA', 'AUT-ENV'],
      dtype='object') 29

In [71]:
df_Cartago_pyg [['ULT-REN', 'MATRICULA', 'CIIU-1', 'DIRECCION', 'BARRIO']].head()

,ULT-REN,MATRICULA,CIIU-1,DIRECCION,BARRIO
0,2020,99696,H5310 ** Actividades postales nacionales,CR 4 NRO 12-04,00050 - BARRIO EL CENTRO\t\t\t
1,2020,99350,G4731 ** Comercio al por menor de combustible para automotores,CR 4 NRO 2 E - 129,00099 - URBANIZACION LA ESPERANZA\t\t
2,2020,98986,I5530 ** Servicio por horas,CR 2 NRO 7-50,NaN
3,2020,98937,R9200 ** Actividades de juegos de azar y apuestas,CR 3 NRO 9A-19,NaN
4,2020,98900,I5630 ** Expendio de bebidas alcoholicas para el consumo dentro del establecimiento,CR 3 NRO. 4-02 CRR MIRAVALLES,NaN

<h2>6. Municipio Palmira</h2>
<h3>6.1 Distribución de Valores Faltantes</h3>

<h2>6. Municipality of Palmira</h2>
<h3>6.1 Distribution of Missing Values</h3>

In [72]:
#data set reading
df_ccpalmiraAM = pd.read_excel(r"cc palmira A M.xlsx", skiprows=1)
#msno.matrix(df_ccpalmiraAM)

<h3>6.2 Eminación de Datos NAN</h3>

<h3>6.2 Removal of NAN Data</h3>

In [83]:
df_Palmira = df_ccpalmiraAM.dropna(how="all",axis=1)
#msno.matrix(df_palmira)

<h3>6.3 DataFrame Columns</h3>

In [84]:
#Filter and rename common attributes between municipality tables
df_Palmira = df_Palmira.\
    rename(columns={'ULT-ANO_REN': 'ULT_REN', 'DIR-COMERCIAL': 'DIRECCION',  'BARRIO-COMERCIAL': 'BARRIO', 'NIT-PROP.':'NIT', 'CIIU':'CIIU-1'})

In [85]:
df_Palmira[['ULT_REN', 'MATRICULA', 'NIT', 'CIIU-1', 'DIRECCION', 'VLR-ESTABLEC.']].head()

,ULT_REN,MATRICULA,NIT,CIIU-1,DIRECCION,VLR-ESTABLEC.
0,2020,99871,hhhb:#&3:(b,1200,CL 38 N° 13-15,5050000.0
1,2020,96006,h:#:tt3&h,4631,CL 21 NO. 1-12,52226183.0
2,2020,87254,#e:3#3:#b,4631,COND. LA NUBIA BOD. 106 KM 1.5 VIA CAVASA,239768189.0
3,2020,823,h:#(3tb&r,4631,CR 26 NO. 27-73,3800000.0
4,2020,49226,bhhb3t3(#,4631,CLL 29 NRO. 22-04,136505607.0

In [79]:
print(df_Palmira.columns)
print("Columnas:",len(df_Palmira.columns))

Index(['MATRICULA', 'ORGANIZACION', 'CATEGORIA', 'FEC-MATRICULA',
       'FEC-RENOVACION', 'ULT_REN', 'DIRECCION', 'MUN-COMERCIAL',
       'DIR-NOTIFICACION', 'MUN-NOTIFICACION', 'SECTOR', 'CIIU1', 'ACTIVIDAD',
       'VLR-ESTABLEC.', 'MAT-PROP.', 'IDE-PROP.', 'NIT', 'CAM-PROP.',
       'DIR-PROP'],
      dtype='object')
Columnas: 19

<h2>7. Municipio Sevilla</h2>

<h2>7. Municipality of Sevilla</h2>
<h3>7.1 Distribution of Missing Values</h3>

In [94]:
#data set reading
df_CCSEVILLAAM = pd.read_excel(r"CC SEVILLA A M.xlsx")
#msno.matrix(df_CCSEVILLAAM)

<h3>7.2 Eminación de Datos NAN</h3>

<h3>7.2 Removal of NAN Data</h3>

In [95]:
df_Sevilla = df_CCSEVILLAAM.dropna(how="all",axis=1)
#msno.matrix(df_SEVILLA)

<h3>7.3 DataFrame Columns</h3>

In [96]:
print(df_Sevilla.columns)
print("Columnas:",len(df_Sevilla.columns))

Index(['MATRICULA', 'ORGANIZACION', 'EST-MATRICULA', 'FEC-MATRICULA',
       'FEC-RENOVACION', 'ULT-ANO_REN', 'DIR-COMERCIAL', 'MUN-COMERCIAL',
       'CIIU-1', 'CIIU-2', 'CIIU-3', 'CIIU-4', 'ACTIVIDAD', 'MAT-PROP.',
       'IDE-PROP.', 'NIT-PROP.', 'CAM-PROP.', 'DIR-PROP', 'MUN-PROP'],
      dtype='object')
Columnas: 19

In [98]:
#Filter and rename common attributes between municipality tables
Sevilla = df_Sevilla.\
    rename(columns={'ULT-ANO_REN': 'ULT_REN', 'NIT-PROP.': 'NIT', 'DIR-COMERCIAL': 'DIRECCION'})
Sevilla['MUNICIPIO'] = 'Sevilla'

In [99]:
Sevilla[['ULT_REN', 'MATRICULA', 'NIT', 'CIIU-1', 'DIRECCION', 'MUNICIPIO']].head()

,ULT_REN,MATRICULA,NIT,CIIU-1,DIRECCION,MUNICIPIO
0,2017.0,8965,:&:&3&3h,G4724 ** Comercio al por menor de bebidas y productos del tabaco en establecimientos especializados,CR 49 51 22,Sevilla
1,2017.0,15236,#e3te:3&r,G4724 ** Comercio al por menor de bebidas y productos del tabaco en establecimientos especializados,CR 50 49 58,Sevilla
2,2018.0,16463,e&&:be:h-h,R9200 ** Actividades de juegos de azar y apuestas,CL 7 15 37,Sevilla
3,2018.0,16446,#e3h3(r:3,G4724 ** Comercio al por menor de bebidas y productos del tabaco en establecimientos especializados,CR 52 59 09,Sevilla
4,2019.0,8366,e&#(tt3&#,G4711 ** Comercio al por menor en establecimientos no especializados con surtido compuesto principalmente por alimentos bebidas o tabaco,CR 16 11 02,Sevilla

<h2>8. Municipio Tulua</h2>
<h3>8.1 Distribución de Valores Faltantes</h3>

<h2>8. Municipality of Tulua</h2>
<h3>8.1 Distribution of Missing Values</h3>

In [100]:
#data set reading
df_cctuluaAM = pd.read_excel(r"cc tulua A M.xlsx")
#msno.matrix(df_cctuluaAM)

<h3>8.2 Eminación de Datos NAN</h3>

<h3>8.2 Removal of NAN Data</h3>

In [101]:
df_Tulua = df_cctuluaAM.dropna(how="all",axis=1)
#msno.matrix(df_tulua)

<h3>8.3 DataFrame Columns</h3>

In [103]:
print(df_Tulua.columns)
print("Columnas:",len(df_Tulua.columns))

Index(['MATRICULA', 'ORGANIZACION', 'CATEGORIA', 'EST-MATRICULA', 'EST_DATOS',
       'FECHA-NAC', 'CLASE-ID', 'IDENTIFICACION', 'GENERO', 'NIT',
       ...
       'ACTI 2020', 'NUMALCALDIA', 'TIENELIBROS', 'NUM-SOCIOS', 'REP-LEGAL',
       'NOM-REP-LEGAL', 'NUM-IDE-SUPLENTE', 'NOMBRE-SUPLENTE', 'REVISORES',
       'AUT-ENV'],
      dtype='object', length=123)
Columnas: 123

In [ ]:
#Filter and rename common attributes between municipality tables
Tulua = df_Tulua.\
    rename(columns={'ULT-ANO_REN': 'ULT_REN', 'DIR-COMERCIAL': 'DIRECCION',  'BARRIO-COMERCIAL': 'BARRIO'})
Tulua['MUNICIPIO'] = 'Tulua'

In [105]:
Tulua[['ULT_REN', 'MATRICULA', 'NIT', 'CIIU-1', 'DIRECCION', 'BARRIO', 'MUNICIPIO', 'VLR-ESTABLEC.', 'ACTIVO-TOTAL', 'PATRIMONIO']].head()

,ULT_REN,MATRICULA,NIT,CIIU-1,DIRECCION,BARRIO,MUNICIPIO,VLR-ESTABLEC.,ACTIVO-TOTAL,PATRIMONIO
0,2020,99992,hte&e#r3e#(,G4729 ** Comercio al por menor de otros productos alimenticios n.c.p. en establecimientos especializados,KM 11 VIA LA PAILA ARMENIA - Q/NUEVA,NaN,Tulua,0,1200000,1200000
1,2020,99977,hhh#:#:(rer,G4724 ** Comercio al por menor de bebidas y productos del tabaco en establecimientos especializados,CRA 3 NRO 11-22 CORRG LA PAILA,NaN,Tulua,0,3000000,3000000
2,2020,99874,#&(&:3t:t,G4724 ** Comercio al por menor de bebidas y productos del tabaco en establecimientos especializados,CR 34 33 71,00448 - VICTORIA,Tulua,0,3000000,3000000
3,2020,99846,hh#&3(b(te3,G4724 ** Comercio al por menor de bebidas y productos del tabaco en establecimientos especializados,CR 2 OE NO 26C 7 20,00496 - ASOAGRIN FARFAN,Tulua,0,1000000,1000000
4,2020,99804,:hh&:&b3,G4724 ** Comercio al por menor de bebidas y productos del tabaco en establecimientos especializados,CR 9 21 47,NaN,Tulua,0,2500000,2500000

<h2>9. Municipio de Sevilla PYG</h2>
<h3>9.1 Distribución de Valores Faltantes</h3>

<h2>9. Municipality of Sevilla</h2>
<h3>9.1 Distribution of Missing Values</h3>

In [106]:
#data set reading
df_sevillaconAMconpyg = pd.read_excel(r"sevilla con A M  con pyg.xlsx")
#msno.matrix(df_sevillaconAMconpyg)

<h3>9.2 Eminación de Datos NAN</h3>

<h3>9.2 Removal of NAN Data</h3>

In [107]:
df_Sevilla_pyg = df_sevillaconAMconpyg.dropna(how="all",axis=1)
#msno.matrix(df_sevillaconAMconpyg)#

<h3>9.3 DataFrame Columns</h3>

In [108]:
print(df_Sevilla_pyg.columns)
print("Columnas:",len(df_Sevilla_pyg.columns))

Index(['MATRICULA', 'ORGANIZACION', 'EST-MATRICULA', 'FEC-MATRICULA',
       'FEC-RENOVACION', 'ULT-ANO_REN', 'DIR-COMERCIAL', 'MUN-COMERCIAL',
       'TEL-COM-3', 'DIR-NOTIFICACION', 'MUN-NOTIFICACION', 'TEL-NOTF-1',
       'TEL-NOTF-2', 'CIIU-1', 'CIIU-2', 'CIIU-3', 'CIIU-4', 'ACTIVIDAD',
       'TIPO-PROPIEDAD', 'PERSONAL', 'ACTIVO-CORRIENTE', 'ACTIVO-NO-CORRIENTE',
       'ACTIVO-FIJO', 'ACTIVO-VALORIZ', 'ACTIVO-OTROS', 'ACTIVO-TOTAL',
       'PASIVO-CORRIENTE', 'PASIVO-LRG-PLAZO', 'PASIVO-TOTAL', 'PATRIMONIO',
       'PASIVO+PATRIM', 'ING-OPERACIONES', 'ING-NO-OPERACIONALES',
       'GAS-OPERACIONALES', 'GAS-NO-OPERAC.', 'COS-VEN.', 'GAS-IMP.',
       'UTIL-OPERACIONAL', 'UTIL-NETA', 'ANIO-DATOS', 'FECHA-DATOS',
       'VLR-ESTABLEC.', 'MAT-PROP.', 'IDE-PROP.', 'NIT-PROP.', 'CAM-PROP.',
       'DIR-PROP', 'MUN-PROP'],
      dtype='object')
Columnas: 48

In [109]:
#Filter and rename common attributes between municipality tables
Sevilla_pyg = df_Sevilla_pyg.\
    rename(columns={'ULT-ANO_REN': 'ULT_REN', 'DIR-COMERCIAL': 'DIRECCION', 'NIT-PROP.':'NIT'})
Sevilla_pyg['MUNICIPIO'] = 'Sevilla'

In [110]:
Sevilla_pyg[['ULT_REN', 'MATRICULA', 'NIT', 'CIIU-1', 'DIRECCION', 'VLR-ESTABLEC.', 'MUNICIPIO', 'ACTIVO-TOTAL', 'PATRIMONIO']].head()

,ULT_REN,MATRICULA,NIT,CIIU-1,DIRECCION,VLR-ESTABLEC.,MUNICIPIO,ACTIVO-TOTAL,PATRIMONIO
0,2020,9970,NaN,R9200 ** Actividades de juegos de azar y apuestas,CR 51 52 34,6000000,Sevilla,0,0
1,2020,16350,NaN,G4773 ** Comercio al por menor de productos farmaceuticos y medicinales cosmeticos y articulos de tocador en establecimientos especializados,CR 51 50 17,21000000,Sevilla,0,0
2,2019,17117,NaN,A0144 ** Cria de ganado porcino,CORREGIMIENTO DE QUEBRADA NUEVA,924286,Sevilla,0,0
3,2020,12240,ettt#:r#rb,R9200 ** Actividades de juegos de azar y apuestas,CR 16 8 51,3200000,Sevilla,0,0
4,2020,12239,ettt#:r#rb,R9200 ** Actividades de juegos de azar y apuestas,CL 50 48 38,3200000,Sevilla,0,0

<h2>10. Contribución al Deporte</h2>
<h3>10.1 Distribución de Valores Faltantes</h3>

<h2>10. Tax Disbursement to sport</h2>
<h3>10.1 Distribution of Missing Values</h3>

In [96]:
#data set reading
df_contribucionAM = pd.read_excel(r"contribucion  A M.xlsx")
#msno.matrix(df_contribucionAM)

<h3>10.2 Eminación de Datos NAN</h3>

<h3>10.2 Removal of NAN Data</h3>

In [97]:
df_contribucion = df_contribucionAM.dropna(how="all",axis=1)
#msno.matrix(df_contribucion)

<h3>10.3 DataFrame Columns</h3>

In [98]:
print(df_contribucion.columns)
print("Columnas:",len(df_contribucion.columns))

Index(['NIT', 'NUMERO', 'DESCRIPCION', 'TOTAL', 'FCHA_RCDO', 'CNSCTVO_BNCO',
       'BANCO', 'ESTADO', 'SUCURSAL', 'PRDO_GRVBLE_ANO', 'PRDO_GRVBLE_MES',
       'CDGO_DPRTMNTO', 'DSCRPCN_DPRTMNTO', 'CDGO_MNCPO', 'DSCRPCN_MNCPO',
       'DRCCN', 'PRMR_APLLDO_USRO', 'DSCRPCN_IMPSTO', 'ORDEN'],
      dtype='object')
Columnas: 19

In [99]:
#Filter common attributes between taxes tables
df_contribucion.head()
df_contribucion[['NIT', 'DESCRIPCION', 'DSCRPCN_MNCPO']].head()

,NIT,DESCRIPCION,DSCRPCN_MNCPO
0,htt#etrt,"DECLARACIÃ“N DE LA CONTRIBUCIÃ“N PARA EL DEPORTE, LA RECREACIÃ“N Y EL APROVECHAMIENTO DEL TIEMPO LIBRE DEPARTAMENTO DEL VALLE DEL CAUCA SECRETARIA DE HACIENDA Y CRÃ‰DITO PUBLICO RESOLUCIÃ“N # 037 ...",YOTOCO
1,htt#etrt,"DECLARACIÃ“N DE LA CONTRIBUCIÃ“N PARA EL DEPORTE, LA RECREACIÃ“N Y EL APROVECHAMIENTO DEL TIEMPO LIBRE DEPARTAMENTO DEL VALLE DEL CAUCA SECRETARIA DE HACIENDA Y CRÃ‰DITO PUBLICO RESOLUCIÃ“N # 037 ...",YOTOCO
2,htt#etrt,"DECLARACIÃ“N DE LA CONTRIBUCIÃ“N PARA EL DEPORTE, LA RECREACIÃ“N Y EL APROVECHAMIENTO DEL TIEMPO LIBRE DEPARTAMENTO DEL VALLE DEL CAUCA SECRETARIA DE HACIENDA Y CRÃ‰DITO PUBLICO RESOLUCIÃ“N # 037 ...",YOTOCO
3,htt#etrt,"DECLARACIÃ“N DE LA CONTRIBUCIÃ“N PARA EL DEPORTE, LA RECREACIÃ“N Y EL APROVECHAMIENTO DEL TIEMPO LIBRE DEPARTAMENTO DEL VALLE DEL CAUCA SECRETARIA DE HACIENDA Y CRÃ‰DITO PUBLICO RESOLUCIÃ“N # 037 ...",YOTOCO
4,htt#etrt,"DECLARACIÃ“N DE LA CONTRIBUCIÃ“N PARA EL DEPORTE, LA RECREACIÃ“N Y EL APROVECHAMIENTO DEL TIEMPO LIBRE DEPARTAMENTO DEL VALLE DEL CAUCA SECRETARIA DE HACIENDA Y CRÃ‰DITO PUBLICO RESOLUCIÃ“N # 037 ...",YOTOCO

<h2>11. Licores</h2>
<h3>11.1 Distribución de Valores Faltantes</h3>

<h2>11. Alcohol Tax</h2>
<h3>11.1 Distribution of Missing Values</h3>

In [109]:
#data set reading
df_DECLARACIONNaleImportado2015al2019AM = pd.read_excel(r"DECLARACION Nal e Importado 2015 al 2019  AM.xlsx", skiprows=5)
#msno.matrix(df_DECLARACIONNaleImportado2015al2019AM)

<h3>11.2 Eminación de Datos NAN</h3>

<h3>11.2 Removal of NAN Data</h3>

In [110]:
df_Licores = df_DECLARACIONNaleImportado2015al2019AM.dropna(how="all",axis=1)
#msno.matrix(df_Licores)

<h3>11.3 DataFrame Columns</h3>

In [111]:
print(df_Licores.columns)
print("Columnas:",len(df_Licores.columns))

Index(['año', 'CODIGO', 'ORIGEN', 'NOMB_PRO', 'TIPO_PRODCUTO', 'NIT', 'CLASE',
       'TIPO', 'UNIDADES', 'PRESENTACION', 'GRADOS', 'IMPUESTO_DECLARADO',
       'IMPUESTO_PARTICIPACION', 'UNIDADES_CAPACIDAD', 'IMPUESTO_REENVIADO',
       'UNIDADES_REENVIOS_CAPACIDAD', 'UNIDAD_CONVERTIDAS',
       'SOBRETASA_DECLARADA', 'UNIDADES_REENVIOS_CONVERTIDAS',
       'SOBRETASA_REENVIADA', ' CODI_DANE '],
      dtype='object')
Columnas: 21

In [116]:
#Filter common attributes between taxes tables
df_Licores.head()
df_Licores[['NIT', 'CLASE', 'IMPUESTO_DECLARADO']].head()

          NIT    CLASE  IMPUESTO_DECLARADO
0  3:ttt#t#:t  LICORES            405504.0
1  3:ttt#t#:t  LICORES           3181680.0
2  3:ttt#t#:t  LICORES           7413120.0
3  3:ttt#t#:t  LICORES           5082480.0
4  3:ttt#t#:t  LICORES            273960.0

<h2>12. Loterias</h2>
<h3>12.1 Distribución de Valores Faltantes</h3>

<h2>12. Lottery tax</h2>
<h3>12.1 Distribution of Missing Values</h3>

In [167]:
#data set reading
df_loterias_A_M = pd.read_excel(r"loterias  A M.xlsx")
#msno.matrix(df_loterias_A_M)

<h3>12.2 Eminación de Datos NAN</h3>

<h3>12.2 Removal of NAN Data</h3>

In [168]:
df_loterias = df_loterias_A_M.dropna(how="all",axis=1)
#msno.matrix(df_loterias)

<h3>12.3 DataFrame Columns</h3>

In [169]:
print(df_loterias.columns)
print("Columnas:",len(df_loterias.columns))

Index(['NIT', 'NUMERO', 'DESCRIPCION', 'TOTAL', 'ESTADO', 'PRDO_GRVBLE_ANO',
       'PRDO_GRVBLE_MES', 'CDGO_DPRTMNTO', 'DSCRPCN_DPRTMNTO', 'CDGO_MNCPO',
       'DSCRPCN_MNCPO', 'DRCCN', 'PRMR_NMBR_USRO', 'DSCRPCN_IMPSTO', 'ORDEN'],
      dtype='object')
Columnas: 15

<h2>13. Gasolina</h2>
<h3>13.1 Distribución de Valores Faltantes</h3>

<h2>13. Fuel tax</h2>
<h3>13.1 Distribution of Missing Values</h3>

In [153]:
#data set reading
df_sobretasaalagasolinaAM= pd.read_excel(r"sobretasa a la gasolina  A M.xlsx")
#msno.matrix(df_sobretasaalagasolinaAM)

<h3>19.2 Eminación de Datos NAN</h3>

<h3>13.2 Removal of NAN Data</h3>

In [154]:
df_gasolina = df_sobretasaalagasolinaAM.dropna(how="all",axis=1)
#msno.matrix(df_gasolina)

<h3>13.3 DataFrame Columns</h3>

In [155]:
print(df_gasolina.columns)
print("Columnas:",len(df_gasolina.columns))

Index(['NIT', 'RAZON', 'NUMERO', 'DESCRIPCION', 'TOTAL', 'FCHA_RCDO',
       'CNSCTVO_BNCO', 'BANCO', 'ESTADO', 'SUCURSAL', 'PRDO_GRVBLE_ANO',
       'PRDO_GRVBLE_MES', 'CDGO_DPRTMNTO', 'DSCRPCN_DPRTMNTO', 'CDGO_MNCPO',
       'DSCRPCN_MNCPO', 'DRCCN', 'PRMR_NMBR_USRO', 'DSCRPCN_IMPSTO', 'ORDEN'],
      dtype='object')
Columnas: 20

<h2>14. Deguello</h2>
<h3>14.1 Distribución de Valores Faltantes</h3>

<h2>14. Deguello tax</h2>
<h3>14.1 Distribution of Missing Values</h3>

In [121]:
#data set reading
df_deguelloAM= pd.read_excel(r"deguello  A M.xlsx")
#msno.matrix(df_deguelloAM)

<h3>14.2 Eminación de Datos NAN</h3>

<h3>14.2 Removal of NAN Data</h3>

In [122]:
df_deguello = df_deguelloAM.dropna(how="all",axis=1)
#msno.matrix(df_deguello)

<h3>14.3 DataFrame Columns</h3>

In [123]:
print(df_deguello.columns)
print("Columnas:",len(df_deguello.columns))

Index(['NIT', 'NUMERO', 'DESCRIPCION', 'TOTAL', 'FCHA_RCDO', 'CNSCTVO_BNCO',
       'BANCO', 'ESTADO', 'SUCURSAL', 'PRDO_GRVBLE_ANO', 'PRDO_GRVBLE_MES',
       'CDGO_DPRTMNTO', 'DSCRPCN_DPRTMNTO', 'CDGO_MNCPO', 'DSCRPCN_MNCPO',
       'DRCCN', 'PRMR_NMBR_USRO', 'DSCRPCN_IMPSTO', 'ORDEN'],
      dtype='object')
Columnas: 19

In [2]:
#Filter common attributes between taxes tables
df_deguello.head()
df_deguello[['NIT', 'DESCRIPCION', 'DSCRPCN_MNCPO', 'TOTAL', 'ESTADO']].head()

<h2>15. Relación de Ventas</h2>
<h3>15.1 Distribución de Valores Faltantes</h3>


<h2>15. sales relationship</h2>
<h3>15.1 Distribution of Missing Values</h3>

In [146]:
#data set reading
df_RELACIONDEVEntasyPD2015AL2019am = pd.read_excel(r"RELACION DE VEntas y PD 2015 AL 2019 a m.xlsx")
#msno.matrix(df_RELACIONDEVEntasyPD2015AL2019am)

<h3>15.2 Eminación de Datos NAN</h3>

<h3>15.2 Removal of NAN Data</h3>

In [147]:
df_RELACIONDEVEntasyPD2015AL2019 = df_RELACIONDEVEntasyPD2015AL2019am.dropna(how="all",axis=1)
#msno.matrix(df_RELACIONDEVEntasyPD2015AL2019)

<h3>15.3 DataFrame Columns</h3>

In [148]:
print(df_RELACIONDEVEntasyPD2015AL2019.columns)
print("Columnas:",len(df_RELACIONDEVEntasyPD2015AL2019.columns))

Index(['MOVIMIENTOS POR RANGO DE FECHA', 'Unnamed: 1', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17',
       'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21',
       'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25',
       'Unnamed: 26'],
      dtype='object')
Columnas: 25

<h2>16. Rentas 240</h2>
<h3>16.1 Distribución de Valores Faltantes</h3>

<h2>16. Format income 240</h2>
<h3>16.1 Distribution of Missing Values</h3>

In [128]:
#data set reading
df_form240AM = pd.read_excel(r"form 240 AM.xlsx")
#msno.matrix(df_form240AM)

<h3>16.2 Eminación de Datos NAN</h3>

<h3>16.2 Removal of NAN Data</h3>

In [129]:
df_240 = df_form240AM.dropna(how="all",axis=1)
#msno.matrix(df_240 )

<h3>16.3 DataFrame Columns</h3>

In [132]:
print(df_240.columns)
print("Columnas:",len(df_240.columns))

Index(['Año Gravable', 'Número Nit', 'Código Departamento', 'Código Municipio',
       'Código Actividad Económica Principal', 'Total Patrimonio Bruto (55)',
       'RGA IMAS T-Ingresos brutos trabajador cuenta propia (743)',
       'RGA IMAS T-Otros ingresos (744)',
       'RGA IMAS T-Ingresos excluidos de la base (745)',
       'RGA IMAS T-Total ingresos Renta (746)',
       'RGA IMAS T- Devolución rebajas descuentos trabajador cuenta propia (747)',
       'RGA IMAS T-Total ingresos netos (748)'],
      dtype='object')
Columnas: 12

In [133]:
df_240[['Número Nit','Código Actividad Económica Principal', 'RGA IMAS T-Total ingresos netos (748)', 'Total Patrimonio Bruto (55)' ]]

,Número Nit,Código Actividad Económica Principal,RGA IMAS T-Total ingresos netos (748),Total Patrimonio Bruto (55)
0,b3:&b3:(,8622,25450000,140250000
1,:rthht((,4923,38196000,257719000
2,bhe3re:h,124,142477000,170150000
3,h:rrhb(3,4290,105537000,58900000
4,::e::hh#,4719,18138000,15679000
5,h::3&:3e,4923,60775000,60000000
6,hhbt(eh&rb,722,99571000,20500000
7,rt3#(r:r,4711,50000000,75000000
8,hhbt:bbb3e,4923,153800000,124789000
9,b:t3:3&:,4773,783424000,300462000
10,hhbt:h:bbr,4771,60000000,32800000
11,h:(3re(h,4923,121611000,273446000
12,hh&&t:(:t#,5611,97073000,102541000
13,h:b::&&&,5611,102800000,106800000
14,::3(:r#&,4921,210079000,535921000
15,r(tbe(hr,4721,117735000,245375000
16,h:rebrt&,4921,228060000,287604000
17,h&e&&&&3,4923,89791000,92000000
18,#e(3##h3,9521,0,147697000
19,h(eh((h#,121,102772000,135766000
20,h&&:rt(r,1812,183983000,7515000
21,e&be3th(,1811,47874000,33651000
22,#(rh##t(,90,243578000,664505000
23,hh&&hbbthr,1410,41966000,44401000
24,#errhrb#,4923,56484000,86186000
25,hhbt:r&#b#,4773,73615000,108463000
26,h::(br(h,4923,73277000,81355000
27,hhh3#ee(&3,4923,217220000,510550000
28,e3bbe3eh,4711,37700000,73070000
29,#e33&te:,6810,32431000,288024000
30,e&bbhr(3,4711,117415000,181783000
31,h:3(:(te,113,451705000,241039000
32,#:rrer3,123,53623000,56769000
33,e&b:r#h(,10,568466000,628260000
34,bhe3e#3:,6311,21302000,242655000
35,#(h3the,4759,58000000,438878000
36,h3:hr(e#,4754,235755000,135735000
37,h:r(:ht&,4799,187000000,76784000
38,bh&#3#:t,10,92368000,331675000
39,e&(h3((3,8299,646924000,384451000
40,b:#r3h3&,1410,185446000,94289000
41,(he:&brr,4799,163292000,86391000
42,#h&e#3&:,5611,79801000,103789000
43,hhh:#b(t&b,4923,95200000,108000000
44,:rth#3tb,7020,78524000,29698000
45,h(3hb(r#,1410,204243000,90387000
46,h::(::eh,4923,30012000,258780000
47,#((&b&e(,1410,128401000,115507000
48,hh&be&t3hh,4723,62000000,52000000
49,#errh:ee,4759,35448000,369966000
...,...,...,...,...
2849,#e3rr(r#,7020,164829000,547327000
2850,h&eb((3:,4923,48622000,123500000
2851,#ehrrbr:,4759,113296000,30514000
2852,h:&(bb3:,4752,38984000,10000000
2853,#err&3(3,4771,115959000,70845000
2854,:ht&eeb,1410,8422000,55000000
2855,e&(h33&h,4923,104117000,148242000
2856,bh#&h#eh,4771,238485000,274172000
2857,&b:&(3&&,4711,93776000,7889000
2858,hh&&tbt#eb,7310,62619000,11000
2859,::et:re#,82,54423000,139783000
2860,bh3:e33r,1410,246430000,224647000
2861,::3:#3e&,4773,150578000,198400000
2862,h:(b:&h3,4774,198590000,195780000
2863,:((3&:t,4921,41906000,352163000
2864,e3b:r:&r,4923,47031000,301400000
2865,rt3#rh3&,4719,313379000,185208000
2866,bherereb,8559,110571000,118500000
2867,#e:(:(r:,4921,180260000,342002000
2868,bh:(rr3b,90,128720000,694504000
2869,b3:&tbr3,4719,152100000,505600000
2870,h:hhtbh#,4721,93029000,186589000
2871,hthrh3:&bh,4751,100959000,91460000
2872,h:ebb3t:,4741,51606000,61173000
2873,bh&e(#hh,124,40929000,222709000
2874,h:rrh(#e,6190,193320000,359000000
2875,h&&r#bb&,4719,145126000,121811000
2876,:he3##3,4923,296913000,367000000
2877,::3#er33,5629,150178000,65000000
2878,h::#(ere,4921,47003000,105836000
2879,h:&3&3&r,4921,160353000,264743000
2880,::e&3::e,90,266700000,188986000
2881,h&&b3#th,4923,68666000,82000000
2882,&bt3eh#(,5611,55189000,73002000
2883,h::h&br&,2511,55824000,21589000
2884,hhh&333:e3,7410,52165000,131442000
2885,h:&(:bt&,4923,172045000,92736000
2886,b33:ehht,4923,236885000,155000000
2887,b3:&hb&r,4923,79799000,97669000
2888,h:3b:bb#,112,203320000,26337000
2889,h:br(3:r,4652,113000000,464786000
2890,#&bt:#b3,124,56386000,185704000
2891,hhhb:rbhe&,4772,58503000,53791000
2892,#e::t(3r,10,77789000,60000000
2893,bh#:e(#&,5611,793526000,302498000
2894,e&#3t3:h,2811,42762000,127051000
2895,:&e3h#(,141,40101000,165638000
2896,#:bh&#&,141,32240000,242603000
2897,:bbh#&he,4772,130547000,389396000
2898,hhh:#rh#bt,5611,162439000,67990000

<h2>17. Formato 110</h2>
<h3>17.1 Distribución de Valores Faltantes</h3>

<h2>17. Format 110</h2>
<h3>17.1 Distribution of Missing Values</h3>

In [134]:
#data set reading
df_formato110AM = pd.read_excel(r"formato 110 AM.xlsx")
#msno.matrix(df_formato110AM)

<h3>17.2 Eminación de Datos NAN</h3>

<h3>17.2 Removal of NAN Data</h3>

In [135]:
df_110 = df_formato110AM.dropna(how="all",axis=1)
#msno.matrix(df_110 )

<h3>17.3 DataFrame Columns</h3>

In [53]:
print(df_110.columns)
print("Columnas:",len(df_110.columns))

Index(['Año Gravable', 'Número Nit', 'Código Departamento', 'Código Municipio',
       'Código Actividad Económica Principal',
       'Devoluciones Rebajas y Descuentos en Ventas (120)',
       'Ingresos Brutos no Operacionales (335)',
       'Ingresos brutos de actividades Ordinarias (334)',
       'Ingresos no Constitutivos de Renta (338)',
       'Intereses y Rendimientos Financieros (96)',
       'Total Ingresos Brutos (462)', 'Total Ingresos Netos (459)',
       'Ingresos financieros (3911)',
       'Dividendos y/o partic rec o capítalizados por soc extr (año 2016 y anteriores) o nac cualquier año (3912)',
       'Dividendos y/o participaciones recibidos decla diferentes soc nacionales, años 2017 y siguientes (3913)',
       'Dividendos y/o participaciones recibidos por Pers Nat sin residencia fiscal (2016 y anteriores) (3914)',
       'Otros ingresos (3915)',
       'Ingr no constitutivos renta dividendos y/o part PersNat sin residencia fiscal (2016 y anteriores) (3916)'],
      dtype='object')
Columnas: 18

In [163]:
df_110.head()
df_110[['Año Gravable','Número Nit', 'Código Actividad Económica Principal', 'Total Ingresos Brutos (462)', 'Total Ingresos Netos (459)']].head()

,Año Gravable,Número Nit,Código Actividad Económica Principal,Total Ingresos Brutos (462),Total Ingresos Netos (459)
0,2016.0,ettrh:3&3,4631.0,1.633336e+10,1.633336e+10
1,2016.0,etthb&((b,4652.0,2.184020e+08,2.184020e+08
2,2016.0,etttrh#h(,4322.0,2.217738e+09,2.199696e+09
3,2016.0,3etb#r((b,4751.0,4.126950e+08,4.010000e+08
4,2016.0,ettt:&hrh,9499.0,6.208750e+08,6.208750e+08

<h2>18. Formato 210</h2>
<h3>18.1 Distribución de Valores Faltantes</h3>

<h2>18. Format 210</h2>
<h3>18.1 Distribution of Missing Values</h3>

In [161]:
#data set reading
df_formato210AM = pd.read_excel(r"formato 210 A M.xlsx")
#msno.matrix(df_formato210AM)

<h3>18.2 Eminación de Datos NAN</h3>

<h3>18.2 Removal of NAN Data</h3>

In [162]:
df_210  = df_formato210AM.dropna(how="all",axis=1)
#msno.matrix(df_210 )

<h3>18.3 DataFrame Columns</h3>

In [57]:
print(df_210.columns[0:11])
print("Columnas:",len(df_210.columns))

Index(['Año Gravable', 'Número Nit', 'Código Departamento', 'Código Municipio',
       'Código Actividad Económica Principal', 'Honorarios',
       'Ingresos no Constitutivos de Renta (338)',
       'Intereses y Rendimientos Financieros (96)',
       'Otros Ingresos (Arrendamientos etc.) (97)',
       'Salarios y Demás Pagos Laborales (102)',
       'Ingresos como Empleado (99)'],
      dtype='object')
Columnas: 34

In [164]:
df_210.head()
df_210[['Año Gravable','Número Nit', 'Código Actividad Económica Principal', 'Total Ingresos Brutos (462)', 'Total Ingresos Netos (459)']].head()

,Año Gravable,Número Nit,Código Actividad Económica Principal,Total Ingresos Brutos (462),Total Ingresos Netos (459)
0,2016,#eBr&&Be,NaN,0.0,0.0
1,2018,Bh3r:(hB,10.0,NaN,NaN
2,2018,e&&e:etr,6201.0,NaN,NaN
3,2018,Brt3B:tr,10.0,NaN,NaN
4,2018,B3e&#:he,1521.0,NaN,NaN

<h2>19. Formato 230</h2>
<h3>19.1 Distribución de Valores Faltantes</h3>

<h2>19. Format 230</h2>
<h3>19.1 Distribution of Missing Values</h3>

In [138]:
#data set reading
df_formato230AM = pd.read_excel(r"formato 230 AM.xlsx")
#msno.matrix(df_formato230AM)

<h3>19.2 Eminación de Datos NAN</h3>

<h3>19.2 Removal of NAN Data</h3>

In [139]:
df_230 = df_formato230AM.dropna(how="all",axis=1)
#msno.matrix(df_230 )

<h3>19.3 DataFrame Columns</h3>

In [140]:
print(df_230.columns)
print("Columnas:",len(df_230.columns))

Index(['Año Gravable', 'Número Nit', 'Código Departamento', 'Código Municipio',
       'Código Actividad Económica Principal', 'Total Patrimonio Bruto (55)',
       'RGA IMAS-Ingresos brutos del empleado (724)',
       'RGA IMAS-Otros ingresos (725)',
       'RGA IMAS-Ingresos excluidos base (726)',
       'RGA IMAS-Total ingresos (727)'],
      dtype='object')
Columnas: 10

In [166]:
df_230.head()
df_230[['Año Gravable','Número Nit', 'Código Actividad Económica Principal', 'Total Patrimonio Bruto (55)', 'RGA IMAS-Total ingresos (727)']].head()

,Año Gravable,Número Nit,Código Actividad Económica Principal,Total Patrimonio Bruto (55),RGA IMAS-Total ingresos (727)
0,2016,e&&tt3(h,10.0,132520000,46289000
1,2016,b3(e((:3,10.0,101604000,53729000
2,2016,e&&&rb(h,10.0,43277000,57369000
3,2016,h&&&&t3&,10.0,5000000,55710000
4,2016,e&&t#t(r,10.0,5016000,49184000

<h2>20. Ventas 300</h2>
<h3>20.1 Distribución de Valores Faltantes</h3>

<h2>20. Format Sales 300</h2>
<h3>20.1 Distribution of Missing Values</h3>

In [157]:
#data set reading
df_ventas300AM = pd.read_excel(r"ventas 300 A M.xlsx")
#msno.matrix(df_ventas300AM)

<h3>20.2 Eminación de Datos NAN</h3>

<h3>20.2 Removal of NAN Data</h3>

In [158]:
df_ventas300 = df_ventas300AM.dropna(how="all",axis=1)
#msno.matrix(df_ventas300)

<h3>20.3 DataFrame Columns</h3>

In [159]:
print(df_ventas300AM.columns[0:11])
print("Columnas:",len(df_ventas300AM.columns))

Index(['Año Gravable', 'Número Nit', 'Unnamed: 2', 'Código Departamento',
       'Código Municipio', 'Código Actividad Económica Principal',
       'Ingresos Por operaciones gravadas al 5 % (233)',
       'Ingresos A.I.U por operaciones gravadas (234)',
       'Ingresos Por exportación de bienes (235)',
       'Ingresos Por exportación de servicios (236)',
       'Ingreso Por venta a sociedad comercialización internacional (237)'],
      dtype='object')
Columnas: 28