# Limpieza Archivos
# Cleaning Files

In [1]:
#Librerias - Libraries
import pandas as pd
import string
from string import Formatter
from string import Template
import re
import missingno as msno

## 1. Arhivos de las camaras de Comercio de los municipios del Valle del Cauca
## 1. Archives of the Chambers of Commerce of the municipalities of Valle del Cauca

In [2]:

# CC Buenaventura
df_c_c_btura_A_M = pd.read_excel(r"c.c. btura A M.xls")
df_Buenaventura = df_c_c_btura_A_M.dropna(how="all",axis=1)

# CC Cartago
df_CARTAGOAM = pd.read_excel(r"CARTAGO A M.xlsx")
df_Cartago = df_CARTAGOAM.dropna(how="all",axis=1)
df_Cartago = df_Cartago.drop(['CIIU-2', 'CIIU-3', 'CIIU-4'], axis=1)

# CC Cartago PyG
df_CCCARTAGOCONPYGAM = pd.read_excel(r"CC CARTAGO CON PYG A M.xlsx")
df_Cartago_pyg = df_CCCARTAGOCONPYGAM.dropna(how="all",axis=1)

# CC Buga
df_CCBUGAAM = pd.read_excel(r"CC BUGA A M.xlsx")
df_Buga = df_CCBUGAAM.dropna(how="all",axis=1)

# CC Cali
df_ccCaliAM = pd.read_excel(r"cc Cali AM.xlsx")
df_Cali = df_ccCaliAM.dropna(how="all",axis=1)

#df_Cali2 = pd.read_excel(r"cc Cali AM.xlsx", 'EstSucAge')
#df_Cali2 = df_Cali2.dropna(how="all",axis=1)

# CC Palmira
df_ccpalmiraAM = pd.read_excel(r"cc palmira A M.xlsx", skiprows=1)
df_Palmira = df_ccpalmiraAM.dropna(how="all",axis=1)

# CC Sevilla
df_CCSEVILLAAM = pd.read_excel(r"CC SEVILLA A M.xlsx")
df_Sevilla = df_CCSEVILLAAM.dropna(how="all",axis=1)

# CC Sevilla PyG
df_sevillaconAMconpyg = pd.read_excel(r"sevilla con A M  con pyg.xlsx")
df_Sevilla_pyg = df_sevillaconAMconpyg.dropna(how="all",axis=1)

# CC Tulua
df_cctuluaAM = pd.read_excel(r"cc tulua A M.xlsx")
df_Tulua = df_cctuluaAM.dropna(how="all",axis=1)

## 2. Cleaning Actividades económicas y estampillas
## 2. Cleaning Economic activities and stamps

In [ ]:
#Contribucion al deporte
df_contribucionAM = pd.read_excel(r"contribucion  A M.xlsx")
df_Contrib_deporte = df_contribucionAM.dropna(how="all",axis=1)

#Licores
df_DECLARACIONNaleImportado2015al2019AM = pd.read_excel(r"DECLARACION Nal e Importado 2015 al 2019  AM.xlsx", skiprows=5)
df_Licores = df_DECLARACIONNaleImportado2015al2019AM.dropna(how="all",axis=1)

#Deguello
df_deguelloAM= pd.read_excel(r"deguello  A M.xlsx")
df_Deguello = df_deguelloAM.dropna(how="all",axis=1)

#Formato 240
df_form240AM = pd.read_excel(r"form 240 AM.xlsx")
df_240 = df_form240AM.dropna(how="all",axis=1)

#Formato 110
df_formato110AM = pd.read_excel(r"formato 110 AM.xlsx")
df_110 = df_formato110AM.dropna(how="all",axis=1)

#Formato 210
df_formato210AM = pd.read_excel(r"formato 210 A M.xlsx")
df_210  = df_formato210AM.dropna(how="all",axis=1)

#Formato 210
df_formato230AM = pd.read_excel(r"formato 230 AM.xlsx")
df_230 = df_formato230AM.dropna(how="all",axis=1)

#Loterias
df_loterias_A_M = pd.read_excel(r"loterias  A M.xlsx")
df_Loterias = df_loterias_A_M.dropna(how="all",axis=1)

#Relacion de Ventas
df_RELACIONDEVEntasyPD2015AL2019am = pd.read_excel(r"RELACION DE VEntas y PD 2015 AL 2019 a m.xlsx")
df_Relacion_ventas = df_RELACIONDEVEntasyPD2015AL2019am.dropna(how="all",axis=1)

#Sobretasa Gasolina
df_sobretasaalagasolinaAM= pd.read_excel(r"sobretasa a la gasolina  A M.xlsx")
df_Gasolina = df_sobretasaalagasolinaAM.dropna(how="all",axis=1)

#Ventas
df_ventas300AM = pd.read_excel(r"ventas 300 A M.xlsx")
df_Ventas = df_ventas300AM.dropna(how="all",axis=1)

## 3. Homogenización de los nombres de columnas
## 3. Homogenize Column Names

In [3]:
Buenaventura = df_Buenaventura.\
    rename(columns={'ULT-ANO_REN': 'ULT_REN', 'DIR-COMERCIAL': 'DIRECCION',  'BARRIO-COMERCIAL': 'BARRIO',  'MUN-COMERCIAL': 'MUNICIPIO'})


Cartago  = df_Cartago .\
    rename(columns={'ULT-ANO_REN': 'ULT_REN','NIT-PROP.':'NIT', 'DIR-COMERCIAL': 'DIRECCION',  'BARRIO-COMERCIAL': 'BARRIO', 'MUN-COMERCIAL': 'MUNICIPIO'})


Buga  = df_Buga .\
    rename(columns={'ULT-ANO_REN': 'ULT_REN','NIT-PROP.':'NIT', 'DIR-COMERCIAL': 'DIRECCION', 'MUN-COMERCIAL': 'MUNICIPIO'})



Cali = df_Cali.rename(columns={'NUM_ID': 'NIT', 'DIRECCION_COMERCIAL': 'DIRECCION', 'CIUDAD': 'MUNICIPIO_Clean', 'VAL_ULT_CUOTA': 'VLR-ESTABLEC.'})

Cartago_pyg = df_Cartago_pyg.\
    rename(columns={'ULT-ANO_REN': 'ULT_REN', 'DIR-COMERCIAL': 'DIRECCION',  'BARRIO-COMERCIAL': 'BARRIO', 'MUN-COMERCIAL': 'MUNICIPIO'})


Palmira = df_Palmira.\
    rename(columns={'ULT-ANO_REN': 'ULT_REN', 'DIR-COMERCIAL': 'DIRECCION',  'BARRIO-COMERCIAL': 'BARRIO', 'NIT-PROP.':'NIT', 'CIIU':'CIIU-1', 'MUN-COMERCIAL': 'MUNICIPIO'})


Sevilla = df_Sevilla.\
    rename(columns={'ULT-ANO_REN': 'ULT_REN', 'NIT-PROP.': 'NIT', 'DIR-COMERCIAL': 'DIRECCION',  'MUN-COMERCIAL': 'MUNICIPIO'})


Tulua = df_Tulua.\
    rename(columns={'ULT-ANO_REN': 'ULT_REN', 'DIR-COMERCIAL': 'DIRECCION',  'BARRIO-COMERCIAL': 'BARRIO', 'MUN-COMERCIAL': 'MUNICIPIO'})


Sevilla_pyg = df_Sevilla_pyg.\
    rename(columns={'ULT-ANO_REN': 'ULT_REN', 'DIR-COMERCIAL': 'DIRECCION', 'NIT-PROP.':'NIT', 'MUN-COMERCIAL': 'MUNICIPIO'})

df_Ventas = df_Ventas.rename(columns={'Número Nit': 'NIT'})

## 4. Consolidación del Dataframe
## 4. Consolidation of the Dataframe

In [ ]:
""" Como particularidad de los archivos suministrados, el municipio de cali al ser capital del departamento cuanta con una
estructura de datos mas amplia que la del resto de municipios, por tanto su analisis y union al dataframe consolidado se 
realiza en dos pasos

# As a particularity of the files provided, the municipality of Cali being the capital of the department , has a data 
structure broader than that of the other municipalities, therefore its analysis and binding to the consolidated dataframe
is done in two steps

"""
######## Big Dataframe all columns sin Cali ##########
Municipios_sinCali = pd.concat([Buenaventura, Cartago, Buga, Cartago_pyg, Palmira, Sevilla, Tulua, Sevilla_pyg], sort=False)
Municipios_sinCali[["COD_MUNICIPIO","MUNICIPIO_Clean"]] = Municipios_sinCali["MUNICIPIO"].astype("str").str.split(pat="-",expand=True)
Municipios_sinCali["MUNICIPIO_Clean"] = Municipios_sinCali["MUNICIPIO_Clean"].astype("str").str.strip().str.lower().str.capitalize()

######## all economic activities and sells ##########
Actividades_Economicas = pd.concat([df_Licores, df_Contrib_deporte, df_Loterias], sort=False)
#Actividades_Economicas = pd.merge(df_Licores, df_Ventas,  how = 'outer', left_on ='NIT', right_on = 'Número Nit')
#Actividades_Economicas = pd.merge(Actividades_Economicas, df_Contrib_deporte,  how = 'outer', left_on ='NIT', right_on = 'NIT')
#Actividades_Economicas = pd.merge(Actividades_Economicas, df_Loterias,  how = 'outer', left_on ='NIT', right_on = 'NIT')

In [4]:
Municipios_sinCali[["CODIGO_CIIU", 'borrar', "DESC_CIIU"]]=Municipios_sinCali["CIIU-1"].astype("str").str.split(pat="*",expand=True)
Municipios_sinCali["CODIGO_CIIU"]=Municipios_sinCali["CODIGO_CIIU"].astype("str").str.strip()
Municipios_sinCali=Municipios_sinCali.drop(columns=['borrar'])


Municipios_sinCali["CODIGO_CIIU"] = Municipios_sinCali["CODIGO_CIIU"].astype("str")
Municipios_sinCali['CODIGO_CIIU'] = Municipios_sinCali['CODIGO_CIIU'].astype("str").map(lambda x: x.rstrip('aAbBcC'))
#Municipios_sinCali["CODIGO_CIIU"]=[''.join(re.findall("\d*\.?\d+", item)) for item in Municipios_sinCali["CODIGO_CIIU"]]

Municipios = pd.concat([Municipios_sinCali, Cali])
Municipios["CODIGO_CIIU"] = Municipios["CODIGO_CIIU"].astype("str").str.replace(r'\D', '')
Municipios["CODIGO_CIIU"] = Municipios["CODIGO_CIIU"].astype("str")

In [5]:
# Se Exportan y guardan los dataframes consolidados para los municipios y actividaddes economicas
# Consolidated dataframes are exported and stored for municipalities and economic activities
Municipios.to_csv('Municipios.csv', index=False)
Actividades_Economicas.to_csv('Actividades_Economicas.csv', index=False)

## 5. Exploración de los datos consolidados
## 5. Exploration of consolidated data

In [14]:
# Nombre de los municipio del Valle del Cauca
# Name of the municipality of Valle del Cauca
Municipios = pd.read_csv('Municipios.csv', low_memory=False)
#print(Municipios.columns, Municipios.shape )
Municipios['MUNICIPIO_Clean'].unique()

array(['Buenaventura', 'None', 'Cartago', 'El aguila', 'La union',
       'La victoria', 'El dovio', 'Alcala', 'Ulloa', 'San jose de palmar',
       'Ansermanuevo', 'Roldanillo', 'Versalles', 'Obando', 'El cairo',
       'Argelia', 'Toro', 'Calima', 'Buga', 'Restrepo', 'El cerrito',
       'Ginebra', 'Yotoco', 'San pedro', 'Guacari', 'Palmira',
       'Candelaria', 'Florida', 'Pradera', 'Sevilla', 'Caicedonia',
       'Zarzal', 'Tulua', 'Andalucia', 'Riofrio', 'Bugalagrande',
       'Bolivar', 'Trujillo', 'Cali', 'Yumbo', 'Jamundi', 'Dagua',
       'La Cumbre', 'Vijes'], dtype=object)

In [15]:
# Códigos de las actividades económicas en los registros del Valle del Cauca
# Codes of economic activities in the Valle del Cauca registries
Municipios['CODIGO_CIIU'].unique()

array([5612., 5619., 4711., 4632., 5621., 5611., 4724., 5630., 1102.,
       5629., 5613., 1101., 4781., 1200., 4719., 5310., 4731., 5530.,
       9200., 4773., 6910., 8230., 1011.,  162., 9329., 3511., 9511.,
        128., 7310., 6120., 2012.,  115., 4771., 4631., 9609., 4741.,
       1104., 4729.,   nan, 4520., 1020., 4759., 9311., 6190., 4721.,
       1051., 1103., 1081., 4722., 1040., 1089., 4723., 9312., 1063.,
       5320., 4541., 3530., 5514., 5221.,  144., 8299., 5519., 4530.,
       7120., 5511., 4661., 4775., 2011., 7730., 4774.,  124., 4511.,
       4921., 1921.,  141., 5512., 4761., 6810., 4732., 8130., 8219.,
       6511.,  145., 9529., 1922., 4754.,  161.,  111.,  112., 6820.,
       1090., 1012., 3512., 3513., 3514., 7710., 7912., 6499., 4664.,
       4755., 4791., 4923., 4789., 4662., 4669., 1811., 4321., 8621.,
        113., 7729., 4799., 1082., 4742., 4290., 3520., 7020., 4663.,
       9521., 6110., 6619., 3290., 4620., 7010., 7830., 6621., 4762.,
       6492., 8530., 5813., 8292., 2512., 7110., 4112., 9602., 4512.,
       2029., 3314., 5590.,  163.,  149.,  322.,  150.,  990., 7500.,
       6512., 4690., 5012., 5222., 2023., 4645., 4752., 4390., 4772.,
       5229., 8692., 4220., 1084., 3312.,  122., 4641., 3600.,  142.,
       4922., 7420., 6399., 9512., 8220., 8551., 1521., 1610., 8523.,
       2013., 3700.,  121.,  126., 4651., 6201., 6209., 6202., 3900.,
        164., 4542.,  130., 2100., 4312., 4659., 8211., 4665., 8129.,
       4111., 8121., 7210., 2022., 5819., 4642., 1410., 1313., 8020.,
       6311., 7410., 9008., 7911., 4751., 2712.,  123., 6614., 6615.,
       8560., 6920., 7990., 5210., 4652., 2410., 2711., 6010., 9499.,
        722., 3821., 9005., 1083., 9319., 3319., 8559., 2021., 6612.,
       4330., 6611., 7490., 4610.,  210., 8553.,  311., 4322.,  143.,
       5122., 6312., 2014., 3210., 9004.,  312., 6613., 8890., 3830.,
       3311., 2660., 8699., 1702., 4769., 1812., 3811., 2511., 2920.,
       3320., 7810., 1030.,  127.])

In [16]:
# Conteo de registros NIT (Numero de Identificación Tributaria) por municipio del Valle del Cauca
# Count of NIT (Tax Identification Number) records by municipality of Valle del Cauca

Municipios.groupby(['MUNICIPIO_Clean'])['NIT'].count().reset_index().sort_values('NIT', ascending=False)

       MUNICIPIO_Clean   NIT
9                 Cali  3867
5         Buenaventura  2646
27             Palmira   475
6                 Buga   280
37               Tulua   264
42               Yumbo   231
21             Jamundi   189
16          El cerrito   187
12             Cartago   161
11          Candelaria   136
13               Dagua    93
20             Guacari    72
18             Florida    69
10              Calima    56
19             Ginebra    53
34             Sevilla    49
43              Zarzal    48
28             Pradera    41
8           Caicedonia    38
29            Restrepo    36
41              Yotoco    33
31          Roldanillo    30
22           La Cumbre    28
33           San pedro    26
2         Ansermanuevo    24
23            La union    20
24         La victoria    17
0               Alcala    16
1            Andalucia    15
7         Bugalagrande    15
26              Obando    15
30             Riofrio    14
4              Bolivar    12
40               Vijes    12
14           El aguila     9
15            El cairo     9
35                Toro     9
3              Argelia     8
17            El dovio     7
38               Ulloa     6
32  San jose de palmar     4
39           Versalles     4
36            Trujillo     3
25                None     1

In [17]:
# Conteo de los Códigos NIT relacionados con cada actividad económica en el Valle del Cauca 
# Counting of NIT Codes related to each economic activity in the Valle del Cauca

#Municipios[['First','Last']] = Municipios[Municipios['MUNICIPIO']!= 'cali']['CIIU-1'].str.split('**', expand=True) 
Municipios.groupby(['CODIGO_CIIU'])['NIT'].count().reset_index().sort_values('NIT', ascending=False)

     CODIGO_CIIU   NIT
123       4711.0  1711
174       5630.0  1094
128       4724.0   593
243       9200.0   586
124       4719.0   577
..           ...   ...
47        1313.0     1
78        3320.0     1
164       5514.0     1
215       7810.0     1
25         312.0     1

[255 rows x 2 columns]