In [1]:
import pandas as pd

In [2]:
DIAN = pd.read_csv('Dian_Consolidado.csv', low_memory=False)
MunicipiosC = pd.read_csv('Municipios_Consolidado.csv', low_memory=False)

In [3]:
MunicipiosC[MunicipiosC['Actividad_Economica']=='Licor'].groupby(['Actividad_Economica', 'CODIGO_CIIU']).count()

                                 index  MATRICULA  PROPONENTE  ORGANIZACION  \
Actividad_Economica CODIGO_CIIU
Licor               1101.0          60          4           0             4
                    1102.0         107         53           0            53
                    1103.0          43          1           0             1
                    1200.0           3          3           0             2
                    4631.0          65         21           0            21
                    4632.0          42         26           0            23
                    4711.0        2329       2233           3          2232
                    4724.0         597        548           0           496
                    5611.0         775        717           3           716
                    5612.0          27         21           0            21
                    5619.0         374        347           0           347
                    5621.0          68         59           1            59
                    5629.0          28         17           0            17
                    5630.0        1204       1082           0           875

                                 CATEGORIA  EST-MATRICULA  EST_DATOS  \
Actividad_Economica CODIGO_CIIU
Licor               1101.0              60              4          4
                    1102.0             106             53         41
                    1103.0              43              1          1
                    1200.0               2              1          1
                    4631.0              65              1          1
                    4632.0              36             16         13
                    4711.0            2316           1854       1844
                    4724.0             526            437        339
                    5611.0             773            717        715
                    5612.0              27             21         21
                    5619.0             374            347        347
                    5621.0              68             59         59
                    5629.0              28             17         17
                    5630.0             995            750        439

                                 FECHA-NAC  CLASE-ID  IDENTIFICACION  ...  \
Actividad_Economica CODIGO_CIIU                                       ...
Licor               1101.0               1         2               2  ...
                    1102.0              11        27              27  ...
                    1103.0               1         1               1  ...
                    1200.0               1         1               1  ...
                    4631.0               0         1               1  ...
                    4632.0               2         6               6  ...
                    4711.0             926      1043            1012  ...
                    4724.0             242       276             271  ...
                    5611.0             328       405             392  ...
                    5612.0               7        10              10  ...
                    5619.0             187       204             193  ...
                    5621.0              30        33              32  ...
                    5629.0               6        12              11  ...
                    5630.0             240       261             254  ...

                                 NUMTOTALMUJERES  ESTBLCOMERCIALES  \
Actividad_Economica CODIGO_CIIU
Licor               1101.0                    12                40
                    1102.0                    11                42
                    1103.0                    12                35
                    1200.0                     0                 0
                    4631.0                     5                31
                    4632.0                     1                12
                    4711.0                    23                78
                    4724.0                    17                45
                    5611.0                    13                42
                    5612.0                     1                 3
                    5619.0                     6                21
                    5621.0                     3                 6
                    5629.0                     0                11
                    5630.0                    35               109

                                 IND_ENVMSJCEL  IND_ENVMSJEMAIL  \
Actividad_Economica CODIGO_CIIU
Licor               1101.0                  52               56
                    1102.0                  52               54
                    1103.0                  41               42
                    1200.0                   0                0
                    4631.0                  44               44
                    4632.0                  13               16
                    4711.0                  93               96
                    4724.0                  48               49
                    5611.0                  56               58
                    5612.0                   6                6
                    5619.0                  27               27
                    5621.0                   9                9
                    5629.0                  11               11
                    5630.0                 120              122

                                 IND_BENEFICIO1780  IND_BENEFICIO1780MAT  \
Actividad_Economica CODIGO_CIIU
Licor               1101.0                      51                    51
                    1102.0                      50                    50
                    1103.0                      42                    42
                    1200.0                       0                     0
                    4631.0                      36                    36
                    4632.0                      16                    16
                    4711.0                      88                    88
                    4724.0                      46                    46
                    5611.0                      57                    57
                    5612.0                       6                     6
                    5619.0                      23                    23
                    5621.0                       9                     9
                    5629.0                      11                    11
                    5630.0                     117                   117

                                 IND_RENUNCIABEN1780  ESTADO_AFILIADO  \
Actividad_Economica CODIGO_CIIU
Licor               1101.0                        51               56
                    1102.0                        50               54
                    1103.0                        42               42
                    1200.0                         0                0
                    4631.0                        36               44
                    4632.0                        16               16
                    4711.0                        88               96
                    4724.0                        46               49
                    5611.0                        57               58
                    5612.0                         6                6
                    5619.0                        23               27
                    5621.0                         9                9
                    5629.0                        11               11
                    5630.0                       117              122

                                 FECHA_AFILIACION  FECHA_FIN_AFILIACION
Actividad_Economica CODIGO_CIIU
Licor               1101.0                      1                     1
                    1102.0                      0                     0
                    1103.0                      3                     3
                    1200.0                      0                     0
                    4631.0                      3                     3
                    4632.0                      0                     0
                    4711.0                      3                     2
                    4724.0                      0                     0
                    5611.0                      4                     3
                    5612.0                      0                     0
                    5619.0                      0                     0
                    5621.0                      1                     1
                    5629.0                      0                     0
                    5630.0                      2                     2

[14 rows x 210 columns]

In [4]:
MunicipiosC['MUNICIPIO_Clean'].unique()

array(['El cairo', 'Cartago', 'Ansermanuevo', 'Roldanillo', 'El dovio',
       'La union', 'Sevilla', 'Caicedonia', 'Cali', 'Yumbo', 'Jamundi',
       'La Cumbre', 'Dagua', 'Toro', 'Alcala', 'La victoria', 'Tulua',
       'Vijes', 'Buenaventura', 'El aguila', 'Ulloa',
       'San jose de palmar', 'Versalles', 'Obando', 'Argelia', 'Calima',
       'Buga', 'El cerrito', 'Ginebra', 'San pedro', 'Restrepo',
       'Guacari', 'Yotoco', 'Palmira', 'Candelaria', 'Florida', 'Pradera',
       'Zarzal', 'Andalucia', 'Riofrio', 'Bugalagrande', 'Bolivar',
       'Trujillo'], dtype=object)

In [5]:
MunicipiosC.columns[0:100]

Index(['index', 'MATRICULA', 'PROPONENTE', 'ORGANIZACION', 'CATEGORIA',
       'EST-MATRICULA', 'EST_DATOS', 'FECHA-NAC', 'CLASE-ID', 'IDENTIFICACION',
       'GENERO', 'NIT', 'FEC-MATRICULA', 'FEC-RENOVACION', 'ULT_REN',
       'FEC-CANCELACION', 'FEC-CONSTITUCION', 'FEC-DISOLUCION',
       'FEC-LIQUIDACION', 'FEC-VIGENCIA', 'DIRECCION', 'BARRIO', 'MUNICIPIO',
       'VIGILANCIA', 'DIR-NOTIFICACION', 'MUN-NOTIFICACION', 'TEL-NOTF-1',
       'TEL-NOTF-2', 'EMAIL-NOTIFICACION', 'CIIU-1', 'CIIU-2', 'CIIU-3',
       'CIIU-4', 'ACTIVIDAD', 'CANT-MUJERES', 'CANT-MUJERES-CAR-DIR',
       '%-PART-MUJ', 'CIIU-TAM-EMPRESARIAL', 'ING-TAM-EMPRESARIAL',
       'ANO-DATOS-TAM-EMPRESARIAL', 'FECHA-DATOS-TAM-EMPRESARIAL',
       'LIBROS-COMERCIO', 'CTR-EMBARGO', 'IMPORTA-EXPORTA', 'TIPO-LOCAL',
       'UBICACION', 'CLA-ESPE-ESADL', 'CLA-ECON-SOLI', 'BEN-ART-7',
       'BEN-LEY-1780(MAT)', 'CUM-LEY-1780(REN)', 'MAN-LEY-1780(REN)',
       'REN-LEY-1780(REN)', 'TIPO-PROPIEDAD', 'BIC-LEY-1901-2018',
       'TAM-EMPRESA', 'PERSONAL', 'ACTIVO-CORRIENTE', 'ACTIVO-NO-CORRIENTE',
       'ACTIVO-FIJO', 'ACTIVO-VALORIZ', 'ACTIVO-OTROS', 'ACTIVO-TOTAL',
       'PASIVO-CORRIENTE', 'PASIVO-LRG-PLAZO', 'PASIVO-TOTAL', 'PATRIMONIO',
       'PASIVO+PATRIM', 'ING-OPERACIONES', 'ING-NO-OPERACIONALES',
       'GAS-OPERACIONALES', 'GAS-NO-OPERAC.', 'COS-VEN.', 'GAS-IMP.',
       'UTIL-OPERACIONAL', 'UTIL-NETA', 'GRUPO-NIIF', 'ANIO-DATOS',
       'FECHA-DATOS', 'CAPITAL-AUTORIZ.', 'CAPITAL-SUSCRITO', 'CAPITAL-PAGADO',
       'CAPITAL-SOCIAL', 'APORTE-LABORAL', 'APORTE-LABORAL-ADI',
       'APORTE-DINERO', 'APORTE-TRABAJO', 'APORTE-ACTIVOS', 'APORTE-TOTAL',
       'VLR-ESTABLEC.', 'PATRIM-ESADL.', 'CANT-EST-BD.', 'POR-NAL-PRI',
       'POR-NAL-PUB', 'POR-NAL-TOT', 'POR-EXT-PRI', 'POR-EXT-PUB',
       'POR-EXT-TOT', 'CTR-AFILIACION', 'ANIO-REN-AFIL'],
      dtype='object')

In [6]:
len(MunicipiosC['NIT'].unique())

4471

In [7]:
MunicipiosC['ULT_REN']#.unique()

0       2020.0
1       2020.0
2       2020.0
3       2020.0
4       2019.0
         ...
6829       NaN
6830       NaN
6831       NaN
6832       NaN
6833       NaN
Name: ULT_REN, Length: 6834, dtype: float64

In [8]:
len(DIAN['Número Nit'].unique())

6027

In [9]:
#print(MunicipiosC.columns[0:100])

In [10]:
#print(MunicipiosC.columns[100:200])

In [11]:
#print(MunicipiosC.columns[200:300])

In [12]:
reduced_Dian = DIAN[['Actividad_Economica',  'Año Gravable', 'Número Nit', 'Código Departamento', 'Código Municipio',
       'Código Actividad Económica Principal', 'Total Ingresos Netos (459)', 'RGA IMAS T-Total ingresos netos (748)']]

reduced_Dian = reduced_Dian[reduced_Dian['Número Nit'].notnull()]

In [13]:
reduced_Dian[reduced_Dian['Actividad_Economica']=='Licor'].groupby(['Actividad_Economica', 'Código Actividad Económica Principal']).count()

                                                          Año Gravable  \
Actividad_Economica Código Actividad Económica Principal
Licor               1101.0                                          32
                    1102.0                                          20
                    1103.0                                          12
                    1200.0                                           6
                    4631.0                                        1672
                    4632.0                                         200
                    4711.0                                        2446
                    4724.0                                         357
                    5611.0                                        3445
                    5612.0                                         300
                    5619.0                                         815
                    5621.0                                         320
                    5629.0                                         193
                    5630.0                                         642

                                                          Número Nit  \
Actividad_Economica Código Actividad Económica Principal
Licor               1101.0                                        32
                    1102.0                                        20
                    1103.0                                        12
                    1200.0                                         6
                    4631.0                                      1672
                    4632.0                                       200
                    4711.0                                      2446
                    4724.0                                       357
                    5611.0                                      3445
                    5612.0                                       300
                    5619.0                                       815
                    5621.0                                       320
                    5629.0                                       193
                    5630.0                                       642

                                                          Código Departamento  \
Actividad_Economica Código Actividad Económica Principal
Licor               1101.0                                                 32
                    1102.0                                                 20
                    1103.0                                                 12
                    1200.0                                                  6
                    4631.0                                               1672
                    4632.0                                                200
                    4711.0                                               2446
                    4724.0                                                357
                    5611.0                                               3445
                    5612.0                                                300
                    5619.0                                                815
                    5621.0                                                320
                    5629.0                                                193
                    5630.0                                                642

                                                          Código Municipio  \
Actividad_Economica Código Actividad Económica Principal
Licor               1101.0                                              32
                    1102.0                                              20
                    1103.0                                              12
                    1200.0                                               6
                    4631.0                                            1672
                    4632.0                                             200
                    4711.0                                            2446
                    4724.0                                             357
                    5611.0                                            3445
                    5612.0                                             300
                    5619.0                                             815
                    5621.0                                             320
                    5629.0                                             193
                    5630.0                                             642

                                                          Total Ingresos Netos (459)  \
Actividad_Economica Código Actividad Económica Principal
Licor               1101.0                                                        31
                    1102.0                                                        18
                    1103.0                                                        12
                    1200.0                                                         6
                    4631.0                                                      1442
                    4632.0                                                       168
                    4711.0                                                      1112
                    4724.0                                                       157
                    5611.0                                                      1998
                    5612.0                                                       220
                    5619.0                                                       398
                    5621.0                                                       176
                    5629.0                                                       112
                    5630.0                                                       292

                                                          RGA IMAS T-Total ingresos netos (748)
Actividad_Economica Código Actividad Económica Principal
Licor               1101.0                                                                    0
                    1102.0                                                                    0
                    1103.0                                                                    0
                    1200.0                                                                    0
                    4631.0                                                                   12
                    4632.0                                                                    1
                    4711.0                                                                   63
                    4724.0                                                                    1
                    5611.0                                                                  105
                    5612.0                                                                    1
                    5619.0                                                                   18
                    5621.0                                                                    7
                    5629.0                                                                    2
                    5630.0                                                                   11

In [14]:
len(reduced_Dian["Número Nit"].unique())

6027

In [15]:
reduced_Municipios = MunicipiosC[['Actividad_Economica', 'NIT', 'FEC-RENOVACION', 'ULT_REN', 
                                  'VLR-ESTABLEC.', 'DIRECCION', 'BARRIO', 'MUNICIPIO_Clean', 'COD_MUNICIPIO']]
reduced_Municipios = reduced_Municipios[ reduced_Municipios['NIT'].notnull()]

In [16]:
#reduced_Dian = reduced_Dian.\
#    rename(columns={'Número Nit': 'NIT',  'Código Municipio': 'COD_MUNICIPIO'})

In [17]:
reduced_Municipios['NIT'] = reduced_Municipios['NIT'].astype(str).str.strip()
reduced_Municipios = reduced_Municipios[ reduced_Municipios['NIT'].notnull()]
reduced_Municipios

,Actividad_Economica,NIT,FEC-RENOVACION,ULT_REN,VLR-ESTABLEC.,DIRECCION,BARRIO,MUNICIPIO_Clean,COD_MUNICIPIO
0,Deporte,hhh#et&&#&r,20200313.0,2020.0,NaN,CR 2 NRO 7-50,NaN,El cairo,76246.0
1,Deporte,hterbe3#t((,20200206.0,2020.0,NaN,CR 22 NRO 8-71,00051 - BARRIO EL CIPRES\t\t\t,Cartago,76147.0
2,Deporte,htt&:er#rh:,20200130.0,2020.0,NaN,CL 12 NRO 5-67,00050 - BARRIO EL CENTRO\t\t\t,Cartago,76147.0
4,Deporte,h:((#t:&3,20191004.0,2019.0,NaN,KM 4 ROLDANILLO VIA LA UNION,00025 - BARRIO EL REY,Roldanillo,76622.0
5,Deporte,&hht3bhr&,20200205.0,2020.0,NaN,CR 6 NRO. 11-52,00050 - BARRIO EL CENTRO\t\t\t,Cartago,76147.0
...,...,...,...,...,...,...,...,...,...
6829,Licor,ett&&b:bb,NaN,NaN,NaN,FINCA LA CASITA KM 18 VIAL AL MAR CORREGIMIENT...,NaN,Cali,NaN
6830,Licor,bh#(hetb,NaN,NaN,NaN,CL 23 AN # 5 AN - 37,Versalles,Cali,NaN
6831,Licor,b33r#th(,NaN,NaN,NaN,KR 2 A # 7 OESTE - 30,Arboledas,Cali,NaN
6832,Licor,b33r#th(,NaN,NaN,NaN,KR 2 A # 7 OESTE - 30,Arboledas,Cali,NaN
6833,Licor,ethb3&ete,NaN,NaN,NaN,CR 101 13 15 OF 701 A,Urbanizacion Ciudad Jadin,Cali,NaN

In [18]:
reduced_Municipios2=reduced_Municipios.copy()
#reduced_Municipios2[["COD_MUNICIPIO","MUNICIPIO_CLEAN"]]=reduced_Municipios2["MUNICIPIO"].str.split(pat="-",expand=True)
#reduced_Municipios2["MUNICIPIO_CLEAN"]=reduced_Municipios2["MUNICIPIO_CLEAN"].str.strip()

reduced_Municipios2.head()
len(reduced_Municipios2["NIT"].unique())

4470

In [19]:
#Mun_Dian = pd.concat([reduced_Municipios2, reduced_Dian], sort=False)
Mun_Dian = pd.merge(reduced_Municipios2, reduced_Dian, how = 'outer', left_on =['NIT', 'Actividad_Economica'], right_on = ['Número Nit', 'Actividad_Economica'] )

In [20]:
Mun_Dian

,Actividad_Economica,NIT,FEC-RENOVACION,ULT_REN,VLR-ESTABLEC.,DIRECCION,BARRIO,MUNICIPIO_Clean,COD_MUNICIPIO,Año Gravable,Número Nit,Código Departamento,Código Municipio,Código Actividad Económica Principal,Total Ingresos Netos (459),RGA IMAS T-Total ingresos netos (748)
0,Deporte,hhh#et&&#&r,20200313.0,2020.0,NaN,CR 2 NRO 7-50,NaN,El cairo,76246.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Deporte,hterbe3#t((,20200206.0,2020.0,NaN,CR 22 NRO 8-71,00051 - BARRIO EL CIPRES\t\t\t,Cartago,76147.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Deporte,htt&:er#rh:,20200130.0,2020.0,NaN,CL 12 NRO 5-67,00050 - BARRIO EL CENTRO\t\t\t,Cartago,76147.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Deporte,h:((#t:&3,20191004.0,2019.0,NaN,KM 4 ROLDANILLO VIA LA UNION,00025 - BARRIO EL REY,Roldanillo,76622.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Deporte,&hht3bhr&,20200205.0,2020.0,NaN,CR 6 NRO. 11-52,00050 - BARRIO EL CENTRO\t\t\t,Cartago,76147.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16275,Licor,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018.0,BhBr33:t,76.0,76001.0,5621.0,NaN,NaN
16276,Licor,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018.0,hh#h3#BBr&,76.0,76001.0,4711.0,NaN,NaN
16277,Licor,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018.0,B3e3&&&h,76.0,76001.0,5611.0,NaN,NaN
16278,Licor,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018.0,&#h#Bt(B,76.0,76001.0,5611.0,NaN,NaN
16279,Licor,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018.0,:#h(t(#,76.0,76001.0,4711.0,NaN,NaN

In [21]:
Mun_Dian.shape

(16280, 16)

In [22]:
Mun_Dian[['Actividad_Economica', 'Año Gravable', 'NIT']].groupby(['Actividad_Economica', 'Año Gravable']).count()

                                  NIT
Actividad_Economica Año Gravable
Deporte             2016.0         84
                    2017.0         69
                    2018.0         68
                    2019.0         55
Licor               2016.0         34
                    2017.0         35
                    2018.0         57
                    2019.0         46
                    2020.0          0
Loterias            2016.0         43
                    2017.0         42
                    2018.0         47
                    2019.0         39

In [23]:
Mun_Dian.loc[Mun_Dian['NIT'] == (Mun_Dian['Número Nit']), 'NoOmiso'] = 1
Mun_Dian[Mun_Dian['NoOmiso'] == 1].count()

Actividad_Economica                      619
NIT                                      619
FEC-RENOVACION                             0
ULT_REN                                    0
VLR-ESTABLEC.                             31
DIRECCION                                619
BARRIO                                   575
MUNICIPIO_Clean                          619
COD_MUNICIPIO                              0
Año Gravable                             619
Número Nit                               619
Código Departamento                      619
Código Municipio                         619
Código Actividad Económica Principal     619
Total Ingresos Netos (459)               563
RGA IMAS T-Total ingresos netos (748)      6
NoOmiso                                  619
dtype: int64

In [24]:
Mun_Dian['NoOmiso'] = Mun_Dian['NoOmiso'].fillna(0)
len(Mun_Dian[Mun_Dian['NoOmiso'] == 1]['NIT'].unique())

167

In [25]:
len(Mun_Dian[Mun_Dian['NoOmiso'] == 0]['Número Nit'].unique())

5861

In [26]:
len(Mun_Dian[Mun_Dian['NoOmiso'] == 0]['NIT'].unique())

4330

In [27]:
Mun_Dian[['Actividad_Economica', 'NIT', 'Año Gravable']].groupby(['Actividad_Economica', 'Año Gravable']).count().reset_index().sort_values('Actividad_Economica', ascending =False)

   Actividad_Economica  Año Gravable  NIT
9             Loterias        2016.0   43
10            Loterias        2017.0   42
11            Loterias        2018.0   47
12            Loterias        2019.0   39
4                Licor        2016.0   34
5                Licor        2017.0   35
6                Licor        2018.0   57
7                Licor        2019.0   46
8                Licor        2020.0    0
0              Deporte        2016.0   84
1              Deporte        2017.0   69
2              Deporte        2018.0   68
3              Deporte        2019.0   55

In [28]:
#No Omisos por actividad Economica
Mun_Dian[Mun_Dian['NoOmiso'] == 1][['Actividad_Economica', 'Número Nit']].groupby(['Actividad_Economica']).count()

                     Número Nit
Actividad_Economica
Deporte                     276
Licor                       172
Loterias                    171

In [29]:
Mun_Dian.to_csv('Merge_Municipios_Dian.csv', index=False)

In [30]:
#Mun_Dian[['Actividad_Economica', 'NIT', 'Año Gravable']].groupby(['Actividad_Economica', 'Año Gravable']).count().reset_index().sort_values('Actividad_Economica', ascending =False)

In [31]:
df_DECLARACIONNaleImportado2015al2019AM = pd.read_excel(r"DECLARACION Nal e Importado 2015 al 2019  AM.xlsx", skiprows=5)
df_Licores = df_DECLARACIONNaleImportado2015al2019AM.dropna(how="all",axis=1)

In [32]:
df_Licores.columns

Index(['año', 'CODIGO', 'ORIGEN', 'NOMB_PRO', 'TIPO_PRODCUTO', 'NIT', 'CLASE',
       'TIPO', 'UNIDADES', 'PRESENTACION', 'GRADOS', 'IMPUESTO_DECLARADO',
       'IMPUESTO_PARTICIPACION', 'UNIDADES_CAPACIDAD', 'IMPUESTO_REENVIADO',
       'UNIDADES_REENVIOS_CAPACIDAD', 'UNIDAD_CONVERTIDAS',
       'SOBRETASA_DECLARADA', 'UNIDADES_REENVIOS_CONVERTIDAS',
       'SOBRETASA_REENVIADA', ' CODI_DANE '],
      dtype='object')

In [33]:
len(df_Licores['NIT'].unique())

309

In [34]:
reduced_Dian_Lic = reduced_Dian[reduced_Dian['Actividad_Economica'] == 'Licor']

In [35]:
Dian_Lic = pd.merge(df_Licores, reduced_Dian_Lic, how = 'outer', left_on ='NIT', right_on = 'Número Nit' )

In [36]:
#Dian3 = Dian_Lic2.loc[Dian_Lic2['Actividad_Economica'].isin(['Loterias', 'Licores', 'Deporte'])]
#Dian_Lic2[Dian_Lic2['Actividad_Economica'] == 'Licores']]]

Dian_Lic.columns

Index(['año', 'CODIGO', 'ORIGEN', 'NOMB_PRO', 'TIPO_PRODCUTO', 'NIT', 'CLASE',
       'TIPO', 'UNIDADES', 'PRESENTACION', 'GRADOS', 'IMPUESTO_DECLARADO',
       'IMPUESTO_PARTICIPACION', 'UNIDADES_CAPACIDAD', 'IMPUESTO_REENVIADO',
       'UNIDADES_REENVIOS_CAPACIDAD', 'UNIDAD_CONVERTIDAS',
       'SOBRETASA_DECLARADA', 'UNIDADES_REENVIOS_CONVERTIDAS',
       'SOBRETASA_REENVIADA', ' CODI_DANE ', 'Actividad_Economica',
       'Año Gravable', 'Número Nit', 'Código Departamento', 'Código Municipio',
       'Código Actividad Económica Principal', 'Total Ingresos Netos (459)',
       'RGA IMAS T-Total ingresos netos (748)'],
      dtype='object')

In [37]:
Dian_Lic[['Actividad_Economica', 'Código Actividad Económica Principal', 'Número Nit']].groupby(['Actividad_Economica', 'Código Actividad Económica Principal']).count()

                                                          Número Nit
Actividad_Economica Código Actividad Económica Principal
Licor               1101.0                                        32
                    1102.0                                        20
                    1103.0                                        12
                    1200.0                                         6
                    4631.0                                      1672
                    4632.0                                       200
                    4711.0                                      2446
                    4724.0                                       369
                    5611.0                                      3445
                    5612.0                                       300
                    5619.0                                       815
                    5621.0                                       320
                    5629.0                                       193
                    5630.0                                       642

In [38]:
pd.set_option("display.max_rows", 999)
#Dian_Lic[['Actividad_Economica', 'Código Actividad Económica Principal', 'Número Nit']].groupby(['Actividad_Economica', 'Código Actividad Económica Principal']).count()
Dian_Lic[['año', 'Número Nit']].groupby(['año']).count().reset_index()

      año  Número Nit
0  2015.0           0
1  2016.0           0
2  2017.0           0
3  2018.0           0
4  2019.0          16

In [39]:
Dian_Lic.loc[Dian_Lic['NIT'] == Dian_Lic['Número Nit'], 'NoOmiso'] = 1
len(Dian_Lic[Dian_Lic['NoOmiso'] == 1]['Número Nit'].unique())

1

In [40]:
len(Dian_Lic[Dian_Lic['NoOmiso'] ==1])

16

In [41]:
Dian_Lic['NoOmiso'] = Dian_Lic['NoOmiso'].fillna(0)

In [42]:
len(Dian_Lic[Dian_Lic['NoOmiso'] == 0]['Número Nit'].unique())

5694

In [43]:
Dian_Licores = Dian_Lic

In [44]:
#Unificado Municipios y Dian todas las actividades Economicas
print('Numero de No Omisos: ', len(Mun_Dian[Mun_Dian['NoOmiso'] == 1]['NIT'].unique()))
print('Numero de Omisos: ', len(Mun_Dian[Mun_Dian['NoOmiso']==0]['NIT'].unique()))
print('Porcentaje de No Omisos: ', len(Mun_Dian[Mun_Dian['NoOmiso'] == 1]['NIT'].unique())/len(Mun_Dian['NIT'].unique()))

Numero de No Omisos:  167
Numero de Omisos:  4330
Porcentaje de No Omisos:  0.03735182285842094

In [45]:
#Licores y Dian todas las actividades Economicas
print('Numero de No Omisos: ',len(Dian_Licores[Dian_Licores['NoOmiso'] == 1]['Número Nit'].unique()))
print('Numero de Omisos: ', len(Dian_Licores[Dian_Licores['NoOmiso']==0]['Número Nit'].unique()))
print('Porcentaje de No Omisos: ', len(Dian_Licores[Dian_Licores['Número Nit'] == 1]['Número Nit'].unique())/len(Dian_Licores['Número Nit'].unique()))

Numero de No Omisos:  1
Numero de Omisos:  5694
Porcentaje de No Omisos:  0.0

In [46]:
#No Omisos por actividad 
Dian_Licores[Dian_Licores['NoOmiso'] == 1][['Actividad_Economica', 'Número Nit']].groupby(['Actividad_Economica']).count()

                     Número Nit
Actividad_Economica
Licor                        16

In [47]:
Dian_Licores.to_csv('Merge_Dian_Licores.csv', index=False)

In [48]:
#Contribucion al deporte
df_contribucionAM = pd.read_excel(r"contribucion  A M.xlsx")
df_Contrib_deporte = df_contribucionAM.dropna(how="all",axis=1)
#lOTERIAS
df_loterias_A_M = pd.read_excel(r"loterias  A M.xlsx")
df_Loterias = df_loterias_A_M.dropna(how="all",axis=1)

In [49]:
df_Contrib_deporte.columns

Index(['NIT', 'NUMERO', 'DESCRIPCION', 'TOTAL', 'FCHA_RCDO', 'CNSCTVO_BNCO',
       'BANCO', 'ESTADO', 'SUCURSAL', 'PRDO_GRVBLE_ANO', 'PRDO_GRVBLE_MES',
       'CDGO_DPRTMNTO', 'DSCRPCN_DPRTMNTO', 'CDGO_MNCPO', 'DSCRPCN_MNCPO',
       'DRCCN', 'PRMR_APLLDO_USRO', 'DSCRPCN_IMPSTO', 'ORDEN'],
      dtype='object')

In [50]:
len(df_Contrib_deporte['NIT'].unique())

407

In [51]:
reduced_Dian_Dep = reduced_Dian[reduced_Dian['Actividad_Economica'] == 'Deporte']

In [52]:
Dian_Deportes = pd.merge(df_Contrib_deporte, reduced_Dian_Dep, how = 'outer', left_on ='NIT', right_on = 'Número Nit' )
Dian_Deportes[['Año Gravable', 'Actividad_Economica', 'NIT']].groupby(['Actividad_Economica', 'Año Gravable']).count().reset_index()

  Actividad_Economica  Año Gravable   NIT
0             Deporte        2016.0  4174
1             Deporte        2017.0  2687
2             Deporte        2018.0  2541
3             Deporte        2019.0  1781

In [53]:
Dian_Deportes.loc[Dian_Deportes['NIT'] == Dian_Deportes['Número Nit'], 'NoOmiso'] = 1
len(Dian_Deportes[Dian_Deportes['NoOmiso'] == 1]['Número Nit'].unique())

65

In [54]:
Dian_Deportes['NoOmiso'] = Dian_Deportes['NoOmiso'].fillna(0)

In [55]:
len(Dian_Deportes[Dian_Deportes['NoOmiso'] == 0]['Número Nit'].unique())

150

In [56]:
#Licores y Dian todas las actividades Economicas
print('Numero de No Omisos: ',len(Dian_Deportes[Dian_Deportes['NoOmiso'] == 1]['Número Nit'].unique()))
print('Numero de Omisos: ', len(Dian_Deportes[Dian_Deportes['NoOmiso']==0]['Número Nit'].unique()))
print('Porcentaje de No Omisos: ', len(Dian_Deportes[Dian_Deportes['NoOmiso'] == 1]['Número Nit'].unique())/len(Dian_Deportes['Número Nit'].unique()))

Numero de No Omisos:  65
Numero de Omisos:  150
Porcentaje de No Omisos:  0.3023255813953488

In [57]:
Dian_Deportes.to_csv('Merge_Dian_Deportes.csv', index=False)

In [58]:
df_Loterias.columns

Index(['NIT', 'NUMERO', 'DESCRIPCION', 'TOTAL', 'ESTADO', 'PRDO_GRVBLE_ANO',
       'PRDO_GRVBLE_MES', 'CDGO_DPRTMNTO', 'DSCRPCN_DPRTMNTO', 'CDGO_MNCPO',
       'DSCRPCN_MNCPO', 'DRCCN', 'PRMR_NMBR_USRO', 'DSCRPCN_IMPSTO', 'ORDEN'],
      dtype='object')

In [59]:
len(df_Loterias['NIT'].unique())

5

In [60]:
Dian_Loterias = pd.merge(df_Loterias, reduced_Dian, how = 'outer', left_on ='NIT', right_on = 'Número Nit' )
Dian_Loterias[['Año Gravable', 'Actividad_Economica', 'NIT']].groupby(['Actividad_Economica', 'Año Gravable']).count().reset_index()

   Actividad_Economica  Año Gravable  NIT
0              Deporte        2016.0    0
1              Deporte        2017.0    0
2              Deporte        2018.0    0
3              Deporte        2019.0    0
4                Licor        2016.0    0
5                Licor        2017.0    0
6                Licor        2018.0    0
7                Licor        2019.0    0
8                Licor        2020.0    0
9             Loterias        2016.0    0
10            Loterias        2017.0    0
11            Loterias        2018.0    0
12            Loterias        2019.0    0

In [61]:
Dian_Loterias.loc[Dian_Loterias['NIT'] == Dian_Loterias['Número Nit'], 'NoOmiso'] = 1

In [62]:
len(Dian_Loterias[Dian_Loterias['NoOmiso'] == 1]['Número Nit'].unique())

0

In [63]:
Municipios_Deportes = pd.merge(df_Contrib_deporte,reduced_Municipios, how = 'inner', left_on ='NIT', right_on = 'NIT' )

In [64]:
Municipios_Deportes['Actividad_Economica'].unique()

array(['Deporte', 'Licor'], dtype=object)

In [65]:
len(df_Contrib_deporte['NIT'].unique())

407

In [66]:
len(Municipios_Deportes['NIT'].unique())

139

In [67]:
len(df_Licores['NIT'].unique())

309

In [68]:
Municipios_Licores = pd.merge(df_Licores, reduced_Municipios, how = 'inner', left_on ='NIT', right_on = 'NIT' )

In [69]:
len(Municipios_Licores['NIT'].unique())

7

In [70]:
len(df_Loterias['NIT'].unique())

5

In [71]:
Municipios_Loterias= pd.merge(df_Loterias, reduced_Municipios, how = 'inner', left_on ='NIT', right_on = 'NIT' )

In [72]:
len(Municipios_Loterias['NIT'].unique())

0