In [99]:
import pandas as pd

In [100]:
#Actividades_Economicas = pd.read_csv('Actividades_Economicas.csv', low_memory=False)
df_contribucionAM = pd.read_excel(r"contribucion  A M.xlsx")
df_Contrib_deporte = df_contribucionAM.dropna(how="all",axis=1)

In [101]:
df_DECLARACIONNaleImportado2015al2019AM = pd.read_excel(r"DECLARACION Nal e Importado 2015 al 2019  AM.xlsx", skiprows=5)
df_Licores = df_DECLARACIONNaleImportado2015al2019AM.dropna(how="all",axis=1)

In [102]:
df_loterias_A_M = pd.read_excel(r"loterias  A M.xlsx")
df_Loterias = df_loterias_A_M.dropna(how="all",axis=1)

In [103]:
df_RELACIONDEVEntasyPD2015AL2019am = pd.read_excel(r"RELACION DE VEntas y PD 2015 AL 2019 a m.xlsx")
df_Relacion_ventas = df_RELACIONDEVEntasyPD2015AL2019am.dropna(how="all",axis=1)

In [104]:
df_Contrib_deporte[df_Contrib_deporte['PRDO_GRVBLE_ANO']>=2015]['PRDO_GRVBLE_ANO'].unique()

array([2018., 2019., 2020., 2016., 2017., 2015.])

In [105]:
df_Deporte = df_Contrib_deporte[df_Contrib_deporte['PRDO_GRVBLE_ANO']>=2015]

In [106]:
df_Deporte = df_Deporte.rename(columns={'PRDO_GRVBLE_ANO': 'AÑO'})
df_Loterias = df_Loterias.rename(columns={'PRDO_GRVBLE_ANO': 'AÑO'})
df_Relacion_ventas = df_Relacion_ventas.rename(columns={'ANNO': 'AÑO'})
df_Licores = df_Licores.rename(columns={'año': 'AÑO'})

df_Relacion_ventas['ESTADO'] = 'PAGADO'
df_Licores['ESTADO'] = 'PAGADO'

In [107]:
Actividades_Economicas = pd.concat([df_Licores, df_Deporte, df_Loterias, df_Relacion_ventas], sort=False)

In [108]:
Actividades_Economicas = Actividades_Economicas.dropna(how="all",axis=1)

In [109]:
MunicipiosC = pd.read_csv('Municipios_Consolidado.csv', low_memory=False)

In [110]:
Actividades_Economicas = Actividades_Economicas[Actividades_Economicas['NIT'].notnull()]

In [111]:
len(Actividades_Economicas['NIT'].unique())

687

In [112]:
len(Actividades_Economicas[Actividades_Economicas['ESTADO']=='PAGADO']['NIT'].unique())

660

In [113]:
MunicipiosC = MunicipiosC[MunicipiosC['NIT'].notnull()]

In [114]:
len(MunicipiosC['NIT'].unique())

4470

In [115]:
Outer_Municipios_ActividadesEconomicas = pd.merge(MunicipiosC, Actividades_Economicas, how = 'outer', left_on =['NIT'], right_on = ['NIT'] )

In [116]:
len(Outer_Municipios_ActividadesEconomicas['NIT'].unique())

5014

In [117]:
Outer_Municipios_ActividadesEconomicas.to_csv('Outer_Municipios_ActividadesEconomicas.csv', index=False)

In [118]:
Inner_Municipios_ActividadesEconomicas = pd.merge(MunicipiosC, Actividades_Economicas, how = 'inner', left_on =['NIT'], right_on = ['NIT'] )

In [119]:
Inner_Municipios_ActividadesEconomicas.to_csv('Inner_Municipios_ActividadesEconomicas.csv', index=False)

In [123]:
len(Inner_Municipios_ActividadesEconomicas['NIT'].unique())

143

In [124]:
Inner_Municipios_ActividadesEconomicas['NoOmiso'] = 1

In [125]:
Inner_Municipios_ActividadesEconomicas[['AÑO', 'NIT', 'ESTADO_y']].groupby(['ESTADO_y', 'AÑO' ]).count()

                  NIT
ESTADO_y AÑO
GENERADO 2015.0  1228
         2016.0   687
         2017.0   356
         2018.0   230
         2019.0   419
         2020.0   173
PAGADO   2015.0   799
         2016.0  1376
         2017.0  1941
         2018.0  2095
         2019.0  2293
         2020.0   592

In [15]:
df_ventas300AM = pd.read_excel(r"ventas 300 A M.xlsx")
df_Ventas = df_ventas300AM.dropna(how="all",axis=1)

In [16]:
len(df_Ventas['Número Nit'].unique())

46118

In [17]:
Inner_300_ActividadesEconomicas = pd.merge(df_Ventas, Actividades_Economicas, how = 'inner', left_on =['Número Nit'], right_on = ['NIT'] )

In [18]:
len(Inner_300_ActividadesEconomicas['Número Nit'].unique())

79

In [19]:
Inner_300_Municipios = pd.merge(df_Ventas, MunicipiosC, how = 'inner', left_on =['Número Nit'], right_on = ['NIT'] )

In [20]:
len(Inner_300_Municipios['Número Nit'].unique())

228